:root {
  --ids-base-color-amber-100: #fffbeb;
  --ids-base-color-amber-1000: #f59e0b;
  --ids-base-color-amber-1100: #d97706;
  --ids-base-color-amber-1200: #b45309;
  --ids-base-color-amber-1300: #92400e;
  --ids-base-color-amber-1400: #8e3e0e;
  --ids-base-color-amber-1500: #893c0e;
  --ids-base-color-amber-1600: #853a0f;
  --ids-base-color-amber-1700: #81390f;
  --ids-base-color-amber-1800: #7c370f;
  --ids-base-color-amber-1900: #78350f;
  --ids-base-color-amber-200: #fff9e4;
  --ids-base-color-amber-2000: #451a03;
  --ids-base-color-amber-300: #fff8dd;
  --ids-base-color-amber-400: #fff6d5;
  --ids-base-color-amber-500: #fef5ce;
  --ids-base-color-amber-600: #fef3c7;
  --ids-base-color-amber-700: #fde68a;
  --ids-base-color-amber-800: #fcd34d;
  --ids-base-color-amber-900: #fbbf24;
  --ids-base-color-blue-100: #eff6ff;
  --ids-base-color-blue-1000: #3b82f6;
  --ids-base-color-blue-1100: #2563eb;
  --ids-base-color-blue-1200: #1d4ed8;
  --ids-base-color-blue-1300: #1e40af;
  --ids-base-color-blue-1400: #1e3fa9;
  --ids-base-color-blue-1500: #1f3ea2;
  --ids-base-color-blue-1600: #1f3d9c;
  --ids-base-color-blue-1700: #1e3c96;
  --ids-base-color-blue-1800: #1e3b90;
  --ids-base-color-blue-1900: #1e3a8a;
  --ids-base-color-blue-200: #ebf4ff;
  --ids-base-color-blue-2000: #172554;
  --ids-base-color-blue-300: #ebf4ff;
  --ids-base-color-blue-400: #e3effe;
  --ids-base-color-blue-500: #dfecfe;
  --ids-base-color-blue-600: #dbeafe;
  --ids-base-color-blue-700: #bfdbfe;
  --ids-base-color-blue-800: #93c5fd;
  --ids-base-color-blue-900: #60a5fa;
  --ids-base-color-custom-100: #e5ecff;
  --ids-base-color-custom-1000: #003cff;
  --ids-base-color-custom-1100: #003beb;
  --ids-base-color-custom-1200: #002fbd;
  --ids-base-color-custom-1300: #00248f;
  --ids-base-color-custom-1400: #002287;
  --ids-base-color-custom-1500: #00207f;
  --ids-base-color-custom-1600: #001e78;
  --ids-base-color-custom-1700: #001c70;
  --ids-base-color-custom-1800: #001a68;
  --ids-base-color-custom-1900: #001861;
  --ids-base-color-custom-200: #e1e9ff;
  --ids-base-color-custom-2000: #001452;
  --ids-base-color-custom-300: #dde6ff;
  --ids-base-color-custom-400: #d9e3ff;
  --ids-base-color-custom-500: #d5e0ff;
  --ids-base-color-custom-600: #d1ddff;
  --ids-base-color-custom-700: #a3baff;
  --ids-base-color-custom-800: #7598ff;
  --ids-base-color-custom-900: #4775ff;
  --ids-base-color-cyan-100: #ecfeff;
  --ids-base-color-cyan-1000: #06b6d4;
  --ids-base-color-cyan-1100: #0891b2;
  --ids-base-color-cyan-1200: #0e7490;
  --ids-base-color-cyan-1300: #155e75;
  --ids-base-color-cyan-1400: #155b72;
  --ids-base-color-cyan-1500: #16596f;
  --ids-base-color-cyan-1600: #16566c;
  --ids-base-color-cyan-1700: #165369;
  --ids-base-color-cyan-1800: #165166;
  --ids-base-color-cyan-1900: #164e63;
  --ids-base-color-cyan-200: #e6fdff;
  --ids-base-color-cyan-2000: #083344;
  --ids-base-color-cyan-300: #e1fcff;
  --ids-base-color-cyan-400: #dbfcfe;
  --ids-base-color-cyan-500: #d5fbfe;
  --ids-base-color-cyan-600: #cffafe;
  --ids-base-color-cyan-700: #a5f3fc;
  --ids-base-color-cyan-800: #67e8f9;
  --ids-base-color-cyan-900: #22d3ee;
  --ids-base-color-dark: #000000;
  --ids-base-color-emerald-100: #ecfdf5;
  --ids-base-color-emerald-1000: #10b981;
  --ids-base-color-emerald-1100: #059669;
  --ids-base-color-emerald-1200: #047857;
  --ids-base-color-emerald-1300: #065f46;
  --ids-base-color-emerald-1400: #166233;
  --ids-base-color-emerald-1500: #155f32;
  --ids-base-color-emerald-1600: #155c30;
  --ids-base-color-emerald-1700: #15592f;
  --ids-base-color-emerald-1800: #14562e;
  --ids-base-color-emerald-1900: #064e3b;
  --ids-base-color-emerald-200: #ecfdf1;
  --ids-base-color-emerald-2000: #022c22;
  --ids-base-color-emerald-300: #e8fdef;
  --ids-base-color-emerald-400: #e4fcec;
  --ids-base-color-emerald-500: #e0fcea;
  --ids-base-color-emerald-600: #d1fae5;
  --ids-base-color-emerald-700: #a7f3d0;
  --ids-base-color-emerald-800: #6ee7b7;
  --ids-base-color-emerald-900: #34d399;
  --ids-base-color-fuchsia-100: #fdf4ff;
  --ids-base-color-fuchsia-1000: #d946ef;
  --ids-base-color-fuchsia-1100: #c026d3;
  --ids-base-color-fuchsia-1200: #a21caf;
  --ids-base-color-fuchsia-1300: #86198f;
  --ids-base-color-fuchsia-1400: #82198b;
  --ids-base-color-fuchsia-1500: #7f1a86;
  --ids-base-color-fuchsia-1600: #7b1a82;
  --ids-base-color-fuchsia-1700: #771a7e;
  --ids-base-color-fuchsia-1800: #771a7e;
  --ids-base-color-fuchsia-1900: #701a75;
  --ids-base-color-fuchsia-200: #fcf2ff;
  --ids-base-color-fuchsia-2000: #4a044e;
  --ids-base-color-fuchsia-300: #fcefff;
  --ids-base-color-fuchsia-400: #fbedff;
  --ids-base-color-fuchsia-500: #fbeaff;
  --ids-base-color-fuchsia-600: #fae8ff;
  --ids-base-color-fuchsia-700: #f5d0fe;
  --ids-base-color-fuchsia-800: #f0abfc;
  --ids-base-color-fuchsia-900: #e879f9;
  --ids-base-color-gray-100: #f9fafb;
  --ids-base-color-gray-1000: #6b7280;
  --ids-base-color-gray-1100: #4b5563;
  --ids-base-color-gray-1200: #374151;
  --ids-base-color-gray-1300: #1f2937;
  --ids-base-color-gray-1400: #1d2634;
  --ids-base-color-gray-1500: #1a2332;
  --ids-base-color-gray-1600: #18202f;
  --ids-base-color-gray-1700: #161e2c;
  --ids-base-color-gray-1800: #131b2a;
  --ids-base-color-gray-1900: #111827;
  --ids-base-color-gray-200: #f7f9fb;
  --ids-base-color-gray-2000: #030712;
  --ids-base-color-gray-300: #f6f8fa;
  --ids-base-color-gray-400: #f4f7fa;
  --ids-base-color-gray-500: #f3f6f9;
  --ids-base-color-gray-600: #f1f5f9;
  --ids-base-color-gray-700: #e5e7eb;
  --ids-base-color-gray-800: #d1d5db;
  --ids-base-color-gray-900: #9ca3af;
  --ids-base-color-green-100: #f0fdf4;
  --ids-base-color-green-1000: #22c55e;
  --ids-base-color-green-1100: #16a34a;
  --ids-base-color-green-1200: #15803d;
  --ids-base-color-green-1300: #166534;
  --ids-base-color-green-1400: #166233;
  --ids-base-color-green-1500: #155f32;
  --ids-base-color-green-1600: #155c30;
  --ids-base-color-green-1700: #15592f;
  --ids-base-color-green-1800: #14562e;
  --ids-base-color-green-1900: #14532d;
  --ids-base-color-green-200: #ecfdf1;
  --ids-base-color-green-2000: #052e16;
  --ids-base-color-green-300: #e8fdef;
  --ids-base-color-green-400: #e4fcec;
  --ids-base-color-green-500: #e0fcea;
  --ids-base-color-green-600: #dcfce7;
  --ids-base-color-green-700: #bbf7d0;
  --ids-base-color-green-800: #86efac;
  --ids-base-color-green-900: #4ade80;
  --ids-base-color-indigo-100: #eef2ff;
  --ids-base-color-indigo-1000: #6366f1;
  --ids-base-color-indigo-1100: #4f46e5;
  --ids-base-color-indigo-1200: #4338ca;
  --ids-base-color-indigo-1300: #3730a3;
  --ids-base-color-indigo-1400: #36309d;
  --ids-base-color-indigo-1500: #352f98;
  --ids-base-color-indigo-1600: #342f92;
  --ids-base-color-indigo-1700: #332f8c;
  --ids-base-color-indigo-1800: #322e87;
  --ids-base-color-indigo-1900: #312e81;
  --ids-base-color-indigo-200: #ebf0ff;
  --ids-base-color-indigo-2000: #1e1b4b;
  --ids-base-color-indigo-300: #e8eeff;
  --ids-base-color-indigo-400: #e6ebff;
  --ids-base-color-indigo-500: #e3e9ff;
  --ids-base-color-indigo-600: #e0e7ff;
  --ids-base-color-indigo-700: #c7d2fe;
  --ids-base-color-indigo-800: #a5b4fc;
  --ids-base-color-indigo-900: #818cf8;
  --ids-base-color-light: #ffffff;
  --ids-base-color-lime-100: #f7fee7;
  --ids-base-color-lime-1000: #84cc16;
  --ids-base-color-lime-1100: #65a30d;
  --ids-base-color-lime-1200: #4d7c0f;
  --ids-base-color-lime-1300: #3f6212;
  --ids-base-color-lime-1400: #3d5f12;
  --ids-base-color-lime-1500: #3c5d13;
  --ids-base-color-lime-1600: #3a5a13;
  --ids-base-color-lime-1700: #395813;
  --ids-base-color-lime-1800: #375514;
  --ids-base-color-lime-1900: #365314;
  --ids-base-color-lime-200: #f5fee1;
  --ids-base-color-lime-2000: #1a2e05;
  --ids-base-color-lime-300: #f3fddc;
  --ids-base-color-lime-400: #f1fdd6;
  --ids-base-color-lime-500: #eefcd1;
  --ids-base-color-lime-600: #ecfccb;
  --ids-base-color-lime-700: #d9f99d;
  --ids-base-color-lime-800: #bef264;
  --ids-base-color-lime-900: #a3e635;
  --ids-base-color-neutral-100: #fafafa;
  --ids-base-color-neutral-1000: #737373;
  --ids-base-color-neutral-1100: #525252;
  --ids-base-color-neutral-1200: #404040;
  --ids-base-color-neutral-1300: #262626;
  --ids-base-color-neutral-1400: #232323;
  --ids-base-color-neutral-1500: #212121;
  --ids-base-color-neutral-1600: #1e1e1e;
  --ids-base-color-neutral-1700: #1c1c1c;
  --ids-base-color-neutral-1800: #191919;
  --ids-base-color-neutral-1900: #171717;
  --ids-base-color-neutral-200: #f9f9f9;
  --ids-base-color-neutral-2000: #0a0a0a;
  --ids-base-color-neutral-300: #f8f8f8;
  --ids-base-color-neutral-400: #f7f7f7;
  --ids-base-color-neutral-500: #f6f6f6;
  --ids-base-color-neutral-600: #f5f5f5;
  --ids-base-color-neutral-700: #e5e5e5;
  --ids-base-color-neutral-800: #d4d4d4;
  --ids-base-color-neutral-900: #a3a3a3;
  --ids-base-color-opacity-blue-10: #3b82f61a;
  --ids-base-color-opacity-blue-100: var(--ids-base-color-blue-1000);
  --ids-base-color-opacity-blue-20: #3b82f633;
  --ids-base-color-opacity-blue-30: #3b82f64d;
  --ids-base-color-opacity-blue-40: #3b82f666;
  --ids-base-color-opacity-blue-5: #3b82f60d;
  --ids-base-color-opacity-blue-50: #3b82f680;
  --ids-base-color-opacity-blue-60: #3b82f699;
  --ids-base-color-opacity-blue-70: #3b82f6b2;
  --ids-base-color-opacity-blue-80: #3b82f6cc;
  --ids-base-color-opacity-blue-90: #3b82f6e5;
  --ids-base-color-opacity-cool-100: #648cb41a;
  --ids-base-color-opacity-cool-150: #648cb426;
  --ids-base-color-opacity-cool-200: #648cb433;
  --ids-base-color-opacity-cool-250: #648cb440;
  --ids-base-color-opacity-cool-300: #648cb44d;
  --ids-base-color-opacity-cool-400: #648cb466;
  --ids-base-color-opacity-cool-50: #648cb40d;
  --ids-base-color-opacity-cool-500: #648cb480;
  --ids-base-color-opacity-cool-600: #648cb499;
  --ids-base-color-opacity-cool-700: #648cb4b2;
  --ids-base-color-opacity-cool-800: #648cb4cc;
  --ids-base-color-opacity-cool-900: #648cb4e5;
  --ids-base-color-opacity-cool-950: #648cb4f2;
  --ids-base-color-opacity-custom-10: #003cff1a;
  --ids-base-color-opacity-custom-100: var(--ids-base-color-custom-1000);
  --ids-base-color-opacity-custom-20: #003cff33;
  --ids-base-color-opacity-custom-30: #003cff4d;
  --ids-base-color-opacity-custom-40: #003cff66;
  --ids-base-color-opacity-custom-5: #003cff0d;
  --ids-base-color-opacity-custom-50: #003cff80;
  --ids-base-color-opacity-custom-60: #003cff99;
  --ids-base-color-opacity-custom-70: #003cffb2;
  --ids-base-color-opacity-custom-80: #003cffcc;
  --ids-base-color-opacity-custom-90: #003cffe5;
  --ids-base-color-opacity-cyan-10: #06b6d41a;
  --ids-base-color-opacity-cyan-100: var(--ids-base-color-cyan-1000);
  --ids-base-color-opacity-cyan-20: #06b6d433;
  --ids-base-color-opacity-cyan-30: #06b6d44d;
  --ids-base-color-opacity-cyan-40: #06b6d466;
  --ids-base-color-opacity-cyan-5: #06b6d40d;
  --ids-base-color-opacity-cyan-50: #06b6d480;
  --ids-base-color-opacity-cyan-60: #06b6d499;
  --ids-base-color-opacity-cyan-70: #06b6d4b2;
  --ids-base-color-opacity-cyan-80: #06b6d4cc;
  --ids-base-color-opacity-cyan-90: #06b6d4e5;
  --ids-base-color-opacity-dark-100: #0000001a;
  --ids-base-color-opacity-dark-150: #00000026;
  --ids-base-color-opacity-dark-200: #00000033;
  --ids-base-color-opacity-dark-250: #00000040;
  --ids-base-color-opacity-dark-300: #0000004d;
  --ids-base-color-opacity-dark-400: #00000066;
  --ids-base-color-opacity-dark-50: #0000000d;
  --ids-base-color-opacity-dark-500: #00000080;
  --ids-base-color-opacity-dark-600: #00000099;
  --ids-base-color-opacity-dark-700: #000000b2;
  --ids-base-color-opacity-dark-800: #000000cc;
  --ids-base-color-opacity-dark-900: #000000e5;
  --ids-base-color-opacity-dark-950: #000000f2;
  --ids-base-color-opacity-darkcool-100: #0206171a;
  --ids-base-color-opacity-darkcool-150: #02061726;
  --ids-base-color-opacity-darkcool-200: #02061733;
  --ids-base-color-opacity-darkcool-250: #02061740;
  --ids-base-color-opacity-darkcool-300: #0206174d;
  --ids-base-color-opacity-darkcool-400: #02061766;
  --ids-base-color-opacity-darkcool-50: #0206170d;
  --ids-base-color-opacity-darkcool-500: #02061780;
  --ids-base-color-opacity-darkcool-600: #02061799;
  --ids-base-color-opacity-darkcool-700: #020617b2;
  --ids-base-color-opacity-darkcool-800: #020617cc;
  --ids-base-color-opacity-darkcool-900: #020617e5;
  --ids-base-color-opacity-darkcool-950: #020617f2;
  --ids-base-color-opacity-green-10: #22c55e1a;
  --ids-base-color-opacity-green-100: var(--ids-base-color-green-1000);
  --ids-base-color-opacity-green-20: #22c55e33;
  --ids-base-color-opacity-green-30: #22c55e4d;
  --ids-base-color-opacity-green-40: #22c55e66;
  --ids-base-color-opacity-green-5: #22c55e0d;
  --ids-base-color-opacity-green-50: #22c55e80;
  --ids-base-color-opacity-green-60: #22c55e99;
  --ids-base-color-opacity-green-70: #22c55eb2;
  --ids-base-color-opacity-green-80: #22c55ecc;
  --ids-base-color-opacity-green-90: #22c55ee5;
  --ids-base-color-opacity-indigo-10: #6366f11a;
  --ids-base-color-opacity-indigo-100: var(--ids-base-color-indigo-1000);
  --ids-base-color-opacity-indigo-20: #6366f133;
  --ids-base-color-opacity-indigo-30: #6366f14d;
  --ids-base-color-opacity-indigo-40: #6366f166;
  --ids-base-color-opacity-indigo-5: #6366f10d;
  --ids-base-color-opacity-indigo-50: #6366f180;
  --ids-base-color-opacity-indigo-60: #6366f199;
  --ids-base-color-opacity-indigo-70: #6366f1b2;
  --ids-base-color-opacity-indigo-80: #6366f1cc;
  --ids-base-color-opacity-indigo-90: #6366f1e5;
  --ids-base-color-opacity-light-100: #ffffff1a;
  --ids-base-color-opacity-light-150: #ffffff26;
  --ids-base-color-opacity-light-200: #ffffff33;
  --ids-base-color-opacity-light-250: #ffffff40;
  --ids-base-color-opacity-light-300: #ffffff4d;
  --ids-base-color-opacity-light-400: #ffffff66;
  --ids-base-color-opacity-light-50: #ffffff0d;
  --ids-base-color-opacity-light-500: #ffffff80;
  --ids-base-color-opacity-light-600: #ffffff99;
  --ids-base-color-opacity-light-700: #ffffffb2;
  --ids-base-color-opacity-light-800: #ffffffcc;
  --ids-base-color-opacity-light-900: #ffffffe5;
  --ids-base-color-opacity-light-950: #fffffff2;
  --ids-base-color-opacity-orange-10: #f973161a;
  --ids-base-color-opacity-orange-100: var(--ids-base-color-orange-1000);
  --ids-base-color-opacity-orange-20: #f9731633;
  --ids-base-color-opacity-orange-30: #f973164d;
  --ids-base-color-opacity-orange-40: #f9731666;
  --ids-base-color-opacity-orange-5: #f973160d;
  --ids-base-color-opacity-orange-50: #f9731680;
  --ids-base-color-opacity-orange-60: #f9731699;
  --ids-base-color-opacity-orange-70: #f97316b2;
  --ids-base-color-opacity-orange-80: #f97316cc;
  --ids-base-color-opacity-orange-90: #f97316e5;
  --ids-base-color-opacity-red-10: #ef44441a;
  --ids-base-color-opacity-red-100: var(--ids-base-color-red-1000);
  --ids-base-color-opacity-red-20: #ef444433;
  --ids-base-color-opacity-red-30: #ef44444d;
  --ids-base-color-opacity-red-40: #ef444466;
  --ids-base-color-opacity-red-5: #ef44440d;
  --ids-base-color-opacity-red-50: #ef444480;
  --ids-base-color-opacity-red-60: #ef444499;
  --ids-base-color-opacity-red-70: #ef4444b2;
  --ids-base-color-opacity-red-80: #ef4444cc;
  --ids-base-color-opacity-red-90: #ef4444e5;
  --ids-base-color-opacity-slate-10: #64748b1a;
  --ids-base-color-opacity-slate-100: var(--ids-base-color-slate-1000);
  --ids-base-color-opacity-slate-2-10: #606b7a1a;
  --ids-base-color-opacity-slate-2-100: var(--ids-base-color-slate-2-1000);
  --ids-base-color-opacity-slate-2-20: #606b7a33;
  --ids-base-color-opacity-slate-2-30: #606b7a4d;
  --ids-base-color-opacity-slate-2-40: #606b7a66;
  --ids-base-color-opacity-slate-2-5: #606b7a0d;
  --ids-base-color-opacity-slate-2-50: #606b7a80;
  --ids-base-color-opacity-slate-2-60: #606b7a99;
  --ids-base-color-opacity-slate-2-70: #606b7ab2;
  --ids-base-color-opacity-slate-2-80: #606b7acc;
  --ids-base-color-opacity-slate-2-90: #606b7ae5;
  --ids-base-color-opacity-slate-20: #64748b33;
  --ids-base-color-opacity-slate-30: #64748b4d;
  --ids-base-color-opacity-slate-40: #64748b66;
  --ids-base-color-opacity-slate-5: #64748b0d;
  --ids-base-color-opacity-slate-50: #64748b80;
  --ids-base-color-opacity-slate-60: #64748b99;
  --ids-base-color-opacity-slate-70: #64748bb2;
  --ids-base-color-opacity-slate-80: #64748bcc;
  --ids-base-color-opacity-slate-90: #64748be5;
  --ids-base-color-opacity-teal-10: #14b8a61a;
  --ids-base-color-opacity-teal-100: var(--ids-base-color-teal-1000);
  --ids-base-color-opacity-teal-20: #14b8a633;
  --ids-base-color-opacity-teal-30: #14b8a64d;
  --ids-base-color-opacity-teal-40: #14b8a666;
  --ids-base-color-opacity-teal-5: #14b8a60d;
  --ids-base-color-opacity-teal-50: #14b8a680;
  --ids-base-color-opacity-teal-60: #14b8a699;
  --ids-base-color-opacity-teal-70: #14b8a6b2;
  --ids-base-color-opacity-teal-80: #14b8a6cc;
  --ids-base-color-opacity-teal-90: #14b8a6e5;
  --ids-base-color-opacity-violet-10: #8b5cf61a;
  --ids-base-color-opacity-violet-100: var(--ids-base-color-violet-1000);
  --ids-base-color-opacity-violet-20: #8b5cf633;
  --ids-base-color-opacity-violet-30: #8b5cf64d;
  --ids-base-color-opacity-violet-40: #8b5cf666;
  --ids-base-color-opacity-violet-5: #8b5cf60d;
  --ids-base-color-opacity-violet-50: #8b5cf680;
  --ids-base-color-opacity-violet-60: #8b5cf699;
  --ids-base-color-opacity-violet-70: #8b5cf6b2;
  --ids-base-color-opacity-violet-80: #8b5cf6cc;
  --ids-base-color-opacity-violet-90: #8b5cf6e5;
  --ids-base-color-orange-100: #fff7ed;
  --ids-base-color-orange-1000: #f97316;
  --ids-base-color-orange-1100: #ea580c;
  --ids-base-color-orange-1200: #c2410c;
  --ids-base-color-orange-1300: #9a3412;
  --ids-base-color-orange-1400: #953312;
  --ids-base-color-orange-1500: #903212;
  --ids-base-color-orange-1600: #8b3112;
  --ids-base-color-orange-1700: #862f12;
  --ids-base-color-orange-1800: #812e12;
  --ids-base-color-orange-1900: #7c2d12;
  --ids-base-color-orange-200: #fff5e8;
  --ids-base-color-orange-2000: #431407;
  --ids-base-color-orange-300: #fff3e3;
  --ids-base-color-orange-400: #fff1df;
  --ids-base-color-orange-500: #ffefda;
  --ids-base-color-orange-600: #ffedd5;
  --ids-base-color-orange-700: #fed7aa;
  --ids-base-color-orange-800: #fdba74;
  --ids-base-color-orange-900: #fb923c;
  --ids-base-color-pink-100: #fdf2f8;
  --ids-base-color-pink-1000: #ec4899;
  --ids-base-color-pink-1100: #db2777;
  --ids-base-color-pink-1200: #be185d;
  --ids-base-color-pink-1300: #9d174d;
  --ids-base-color-pink-1400: #99174b;
  --ids-base-color-pink-1500: #94184a;
  --ids-base-color-pink-1600: #901848;
  --ids-base-color-pink-1700: #8c1846;
  --ids-base-color-pink-1800: #871845;
  --ids-base-color-pink-1900: #831843;
  --ids-base-color-pink-200: #fdf0f7;
  --ids-base-color-pink-2000: #500724;
  --ids-base-color-pink-300: #fdeef6;
  --ids-base-color-pink-400: #fcebf5;
  --ids-base-color-pink-500: #fce9f4;
  --ids-base-color-pink-600: #fce7f3;
  --ids-base-color-pink-700: #fbcfe8;
  --ids-base-color-pink-800: #f9a8d4;
  --ids-base-color-pink-900: #f472b6;
  --ids-base-color-purple-100: #faf5ff;
  --ids-base-color-purple-1000: #a855f7;
  --ids-base-color-purple-1100: #9333ea;
  --ids-base-color-purple-1200: #7e22ce;
  --ids-base-color-purple-1300: #6b21a8;
  --ids-base-color-purple-1400: #6820a2;
  --ids-base-color-purple-1500: #651f9d;
  --ids-base-color-purple-1600: #611f97;
  --ids-base-color-purple-1700: #5e1e92;
  --ids-base-color-purple-1800: #5b1d8c;
  --ids-base-color-purple-1900: #581c87;
  --ids-base-color-purple-200: #f9f2ff;
  --ids-base-color-purple-2000: #3b0764;
  --ids-base-color-purple-300: #f7f0ff;
  --ids-base-color-purple-400: #f6edff;
  --ids-base-color-purple-500: #f4ebff;
  --ids-base-color-purple-600: #f3e8ff;
  --ids-base-color-purple-700: #e9d5ff;
  --ids-base-color-purple-800: #d8b4fe;
  --ids-base-color-purple-900: #c084fc;
  --ids-base-color-red-100: #fef2f2;
  --ids-base-color-red-1000: #ef4444;
  --ids-base-color-red-1100: #dc2626;
  --ids-base-color-red-1200: #b91c1c;
  --ids-base-color-red-1300: #991b1b;
  --ids-base-color-red-1400: #751a1a;
  --ids-base-color-red-1500: #6b1617;
  --ids-base-color-red-1600: #611315;
  --ids-base-color-red-1700: #571012;
  --ids-base-color-red-1800: #4e0d0e;
  --ids-base-color-red-1900: #7f1d1d;
  --ids-base-color-red-200: #feefef;
  --ids-base-color-red-2000: #450a0a;
  --ids-base-color-red-300: #feecec;
  --ids-base-color-red-400: #fee8e8;
  --ids-base-color-red-500: #fee5e5;
  --ids-base-color-red-600: #fee2e2;
  --ids-base-color-red-700: #fecaca;
  --ids-base-color-red-800: #fca5a5;
  --ids-base-color-red-900: #f87171;
  --ids-base-color-rose-100: #fff1f2;
  --ids-base-color-rose-1000: #f43f5e;
  --ids-base-color-rose-1100: #e11d48;
  --ids-base-color-rose-1200: #be123c;
  --ids-base-color-rose-1300: #9f1239;
  --ids-base-color-rose-1400: #9b1239;
  --ids-base-color-rose-1500: #971238;
  --ids-base-color-rose-1600: #931338;
  --ids-base-color-rose-1700: #901338;
  --ids-base-color-rose-1800: #8c1337;
  --ids-base-color-rose-1900: #881337;
  --ids-base-color-rose-200: #ffeef0;
  --ids-base-color-rose-2000: #4c0519;
  --ids-base-color-rose-300: #ffeced;
  --ids-base-color-rose-400: #ffe9eb;
  --ids-base-color-rose-500: #ffe7e8;
  --ids-base-color-rose-600: #ffe4e6;
  --ids-base-color-rose-700: #fecdd3;
  --ids-base-color-rose-800: #fda4af;
  --ids-base-color-rose-900: #fb7185;
  --ids-base-color-sky-100: #f0f9ff;
  --ids-base-color-sky-1000: #0ea5e9;
  --ids-base-color-sky-1100: #0284c7;
  --ids-base-color-sky-1200: #0369a1;
  --ids-base-color-sky-1300: #075985;
  --ids-base-color-sky-1400: #085681;
  --ids-base-color-sky-1500: #09547d;
  --ids-base-color-sky-1600: #0a5179;
  --ids-base-color-sky-1700: #0b4f76;
  --ids-base-color-sky-1800: #0b4c72;
  --ids-base-color-sky-1900: #0c4a6e;
  --ids-base-color-sky-200: #edf8ff;
  --ids-base-color-sky-2000: #082f49;
  --ids-base-color-sky-300: #eaf6ff;
  --ids-base-color-sky-400: #e6f5fe;
  --ids-base-color-sky-500: #e3f3fe;
  --ids-base-color-sky-600: #e0f2fe;
  --ids-base-color-sky-700: #bae6fd;
  --ids-base-color-sky-800: #7dd3fc;
  --ids-base-color-sky-900: #38bdf8;
  --ids-base-color-slate-100: #f8fafc;
  --ids-base-color-slate-1000: #64748b;
  --ids-base-color-slate-1100: #475569;
  --ids-base-color-slate-1200: #334155;
  --ids-base-color-slate-1300: #1e293b;
  --ids-base-color-slate-1400: #1b2638;
  --ids-base-color-slate-1500: #192335;
  --ids-base-color-slate-1600: #162032;
  --ids-base-color-slate-1700: #141d30;
  --ids-base-color-slate-1800: #111a2d;
  --ids-base-color-slate-1900: #0f172a;
  --ids-base-color-slate-2-100: #f5f7fa;
  --ids-base-color-slate-2-1000: #606b7a;
  --ids-base-color-slate-2-1100: #404753;
  --ids-base-color-slate-2-1200: #353b46;
  --ids-base-color-slate-2-1300: #2b3039;
  --ids-base-color-slate-2-1400: #282c35;
  --ids-base-color-slate-2-1500: #242830;
  --ids-base-color-slate-2-1600: #20242c;
  --ids-base-color-slate-2-1700: #1c1f26;
  --ids-base-color-slate-2-1800: #181b22;
  --ids-base-color-slate-2-1900: #15181f;
  --ids-base-color-slate-2-200: #eef2f6;
  --ids-base-color-slate-2-2000: #0f1115;
  --ids-base-color-slate-2-300: #e9edf2;
  --ids-base-color-slate-2-400: #d1d7df;
  --ids-base-color-slate-2-500: #bfc6d1;
  --ids-base-color-slate-2-600: #b2b9c6;
  --ids-base-color-slate-2-700: #a3abba;
  --ids-base-color-slate-2-800: #7e8797;
  --ids-base-color-slate-2-900: #707a8a;
  --ids-base-color-slate-200: #f7f9fb;
  --ids-base-color-slate-2000: #020617;
  --ids-base-color-slate-300: #f5f8fb;
  --ids-base-color-slate-400: #f4f7fa;
  --ids-base-color-slate-500: #f2f6fa;
  --ids-base-color-slate-600: #f1f5f9;
  --ids-base-color-slate-700: #e2e8f0;
  --ids-base-color-slate-800: #cbd5e1;
  --ids-base-color-slate-900: #94a3b8;
  --ids-base-color-social-facebook-darker-10: #0052d6;
  --ids-base-color-social-facebook-darker-20: #0042ad;
  --ids-base-color-social-facebook-default: #0866ff;
  --ids-base-color-social-facebook-lighter-10: #3481ff;
  --ids-base-color-social-facebook-lighter-20: #619dff;
  --ids-base-color-social-facebook-lighter-30: #8db8ff;
  --ids-base-color-social-github-darker-10: #262626;
  --ids-base-color-social-github-darker-20: #191919;
  --ids-base-color-social-github-default: #333333;
  --ids-base-color-social-github-lighter-10: #3f3f3f;
  --ids-base-color-social-github-lighter-20: #4c4c4c;
  --ids-base-color-social-github-lighter-30: #595959;
  --ids-base-color-social-gmail-darker-10: #c82f23;
  --ids-base-color-social-gmail-darker-20: #a61f14;
  --ids-base-color-social-gmail-default: #ea4335;
  --ids-base-color-social-gmail-lighter-10: #ff5647;
  --ids-base-color-social-gmail-lighter-20: #ff7c71;
  --ids-base-color-social-gmail-lighter-30: #ffa29a;
  --ids-base-color-social-linkedin-darker-10: #004182;
  --ids-base-color-social-linkedin-darker-20: #053059;
  --ids-base-color-social-linkedin-default: #0a66c2;
  --ids-base-color-social-linkedin-lighter-10: #378fe9;
  --ids-base-color-social-linkedin-lighter-20: #71b7fb;
  --ids-base-color-social-linkedin-lighter-30: #aad6ff;
  --ids-base-color-stone-100: #fafaf9;
  --ids-base-color-stone-1000: #78716c;
  --ids-base-color-stone-1100: #57534e;
  --ids-base-color-stone-1200: #44403c;
  --ids-base-color-stone-1300: #292524;
  --ids-base-color-stone-1400: #272322;
  --ids-base-color-stone-1500: #252120;
  --ids-base-color-stone-1600: #221f1d;
  --ids-base-color-stone-1700: #201d1b;
  --ids-base-color-stone-1800: #1e1b19;
  --ids-base-color-stone-1900: #1c1917;
  --ids-base-color-stone-200: #f9f9f8;
  --ids-base-color-stone-2000: #0c0a09;
  --ids-base-color-stone-300: #f8f8f7;
  --ids-base-color-stone-400: #f7f7f6;
  --ids-base-color-stone-500: #f6f6f5;
  --ids-base-color-stone-600: #f5f5f4;
  --ids-base-color-stone-700: #e7e5e4;
  --ids-base-color-stone-800: #d6d3d1;
  --ids-base-color-stone-900: #a8a29e;
  --ids-base-color-teal-100: #f0fdfa;
  --ids-base-color-teal-1000: #14b8a6;
  --ids-base-color-teal-1100: #0d9488;
  --ids-base-color-teal-1200: #0f766e;
  --ids-base-color-teal-1300: #115e59;
  --ids-base-color-teal-1400: #125b56;
  --ids-base-color-teal-1500: #125954;
  --ids-base-color-teal-1600: #125651;
  --ids-base-color-teal-1700: #13534f;
  --ids-base-color-teal-1800: #13514c;
  --ids-base-color-teal-1900: #134e4a;
  --ids-base-color-teal-200: #e9fdf8;
  --ids-base-color-teal-2000: #042f2e;
  --ids-base-color-teal-300: #e2fcf6;
  --ids-base-color-teal-400: #dbfcf5;
  --ids-base-color-teal-500: #d3fbf3;
  --ids-base-color-teal-600: #ccfbf1;
  --ids-base-color-teal-700: #99f6e4;
  --ids-base-color-teal-800: #5eead4;
  --ids-base-color-teal-900: #2dd4bf;
  --ids-base-color-transparent: #ffffff00;
  --ids-base-color-violet-100: #f5f3ff;
  --ids-base-color-violet-1000: #8b5cf6;
  --ids-base-color-violet-1100: #7c3aed;
  --ids-base-color-violet-1200: #6d28d9;
  --ids-base-color-violet-1300: #5b21b6;
  --ids-base-color-violet-1400: #5820b0;
  --ids-base-color-violet-1500: #5620ab;
  --ids-base-color-violet-1600: #531fa5;
  --ids-base-color-violet-1700: #511ea0;
  --ids-base-color-violet-1800: #4e1e9a;
  --ids-base-color-violet-1900: #4c1d95;
  --ids-base-color-violet-200: #f3f1ff;
  --ids-base-color-violet-2000: #2e1065;
  --ids-base-color-violet-300: #f2efff;
  --ids-base-color-violet-400: #f0edfe;
  --ids-base-color-violet-500: #efebfe;
  --ids-base-color-violet-600: #ede9fe;
  --ids-base-color-violet-700: #ddd6fe;
  --ids-base-color-violet-800: #c4b5fd;
  --ids-base-color-violet-900: #a78bfa;
  --ids-base-color-zinc-100: #fafafa;
  --ids-base-color-zinc-1000: #71717a;
  --ids-base-color-zinc-1100: #52525b;
  --ids-base-color-zinc-1200: #3f3f46;
  --ids-base-color-zinc-1300: #27272a;
  --ids-base-color-zinc-1400: #242427;
  --ids-base-color-zinc-1500: #222225;
  --ids-base-color-zinc-1600: #1f1f22;
  --ids-base-color-zinc-1700: #1d1d20;
  --ids-base-color-zinc-1800: #1a1a1d;
  --ids-base-color-zinc-1900: #18181b;
  --ids-base-color-zinc-200: #f9f9f9;
  --ids-base-color-zinc-2000: #09090b;
  --ids-base-color-zinc-300: #f8f8f8;
  --ids-base-color-zinc-400: #f6f6f7;
  --ids-base-color-zinc-500: #f5f5f6;
  --ids-base-color-zinc-600: #f4f4f5;
  --ids-base-color-zinc-700: #e4e4e7;
  --ids-base-color-zinc-800: #d4d4d8;
  --ids-base-color-zinc-900: #a1a1aa;
  --ids-base-dimension--10: -1;
  --ids-base-dimension--120: -12;
  --ids-base-dimension--20: -2;
  --ids-base-dimension--30: -3;
  --ids-base-dimension--40: -4;
  --ids-base-dimension--50: -5;
  --ids-base-dimension--60: -6;
  --ids-base-dimension--80: -8;
  --ids-base-dimension-0: 0;
  --ids-base-dimension-10: 1;
  --ids-base-dimension-100: 10;
  --ids-base-dimension-10000: 1000;
  --ids-base-dimension-1120: 112;
  --ids-base-dimension-120: 12;
  --ids-base-dimension-1280: 128;
  --ids-base-dimension-140: 14;
  --ids-base-dimension-150: 15;
  --ids-base-dimension-160: 16;
  --ids-base-dimension-180: 18;
  --ids-base-dimension-20: 2;
  --ids-base-dimension-200: 20;
  --ids-base-dimension-2000: 200;
  --ids-base-dimension-220: 22;
  --ids-base-dimension-240: 24;
  --ids-base-dimension-250: 25;
  --ids-base-dimension-2560: 256;
  --ids-base-dimension-280: 28;
  --ids-base-dimension-30: 3;
  --ids-base-dimension-320: 32;
  --ids-base-dimension-3200: 320;
  --ids-base-dimension-360: 36;
  --ids-base-dimension-3600: 360;
  --ids-base-dimension-40: 4;
  --ids-base-dimension-400: 40;
  --ids-base-dimension-4000: 400;
  --ids-base-dimension-440: 44;
  --ids-base-dimension-4400: 440;
  --ids-base-dimension-480: 48;
  --ids-base-dimension-4800: 480;
  --ids-base-dimension-50: 5;
  --ids-base-dimension-500: 50;
  --ids-base-dimension-5120: 512;
  --ids-base-dimension-520: 52;
  --ids-base-dimension-560: 56;
  --ids-base-dimension-5600: 560;
  --ids-base-dimension-60: 6;
  --ids-base-dimension-6000: 600;
  --ids-base-dimension-640: 64;
  --ids-base-dimension-720: 72;
  --ids-base-dimension-80: 8;
  --ids-base-dimension-800: 80;
  --ids-base-dimension-8000: 800;
  --ids-base-dimension-960: 96;
  --ids-base-em--015: -0.15000000596046448;
  --ids-base-em--025: -0.25;
  --ids-base-em--050: -0.5;
  --ids-base-em--15: -1.5;
  --ids-base-em-0: 0;
  --ids-base-em-015: 0.15000000596046448;
  --ids-base-em-025: 0.25;
  --ids-base-em-050: 0.5;
  --ids-base-em-100: 10;
  --ids-base-em-150: 15;
  --ids-base-em-50: 5;
  --ids-base-percentage--015: -0.15000000596046448;
  --ids-base-percentage--025: -0.25;
  --ids-base-percentage--050: -0.5;
  --ids-base-percentage--15: -1.5;
  --ids-base-percentage-0: 0;
  --ids-base-percentage-015: 0.15000000596046448;
  --ids-base-percentage-025: 0.25;
  --ids-base-percentage-050: 0.5;
  --ids-base-percentage-100: 10;
  --ids-base-percentage-1000: 100;
  --ids-base-percentage-150: 15;
  --ids-base-percentage-200: 20;
  --ids-base-percentage-250: 25;
  --ids-base-percentage-300: 30;
  --ids-base-percentage-400: 40;
  --ids-base-percentage-50: 5;
  --ids-base-percentage-500: 50;
  --ids-base-percentage-600: 60;
  --ids-base-percentage-700: 70;
  --ids-base-percentage-750: 75;
  --ids-base-percentage-800: 80;
  --ids-base-percentage-900: 90;
  --ids-base-typography-font-family-heroicons: I-DS-font-icon-hero;
  --ids-base-typography-font-family-idsfonticon: I-DS-font-icon-default;
  --ids-base-typography-font-family-inter: inter;
  --ids-base-typography-font-family-materialicons: I-DS-font-icon-material;
  --ids-base-typography-font-family-montserrat: Montserrat;
  --ids-base-typography-font-family-remixicons: I-DS-font-icon-remix;
  --ids-base-typography-weight-100: 100;
  --ids-base-typography-weight-200: 200;
  --ids-base-typography-weight-300: 300;
  --ids-base-typography-weight-400: 400;
  --ids-base-typography-weight-500: 500;
  --ids-base-typography-weight-600: 600;
  --ids-base-typography-weight-700: 700;
  --ids-base-typography-weight-800: 800;
  --ids-base-typography-weight-900: 900;
}
