.ids-theme-dark {
  --ids-smc-colors-brand-darker-10: var(--ids-base-color-custom-300);
  --ids-smc-colors-brand-darker-20: var(--ids-base-color-custom-200);
  --ids-smc-colors-brand-darker-30: var(--ids-base-color-custom-100);
  --ids-smc-colors-brand-darker-40: var(--ids-base-color-custom-100);
  --ids-smc-colors-brand-darker-50: var(--ids-base-color-custom-50);
  --ids-smc-colors-brand-default: var(--ids-base-color-custom-400);
  --ids-smc-colors-brand-fixed-darker-10: var(--ids-base-color-custom-600);
  --ids-smc-colors-brand-fixed-darker-20: var(--ids-base-color-custom-700);
  --ids-smc-colors-brand-fixed-darker-30: var(--ids-base-color-custom-800);
  --ids-smc-colors-brand-fixed-darker-40: var(--ids-base-color-custom-900);
  --ids-smc-colors-brand-fixed-darker-50: var(--ids-base-color-custom-950);
  --ids-smc-colors-brand-fixed-default: var(--ids-base-color-custom-500);
  --ids-smc-colors-brand-fixed-lighter-10: var(--ids-base-color-custom-400);
  --ids-smc-colors-brand-fixed-lighter-20: var(--ids-base-color-custom-300);
  --ids-smc-colors-brand-fixed-lighter-30: var(--ids-base-color-custom-200);
  --ids-smc-colors-brand-fixed-lighter-40: var(--ids-base-color-custom-100);
  --ids-smc-colors-brand-fixed-lighter-50: var(--ids-base-color-custom-50);
  --ids-smc-colors-brand-lighter-10: var(--ids-base-color-custom-600);
  --ids-smc-colors-brand-lighter-20: var(--ids-base-color-custom-700);
  --ids-smc-colors-brand-lighter-30: var(--ids-base-color-custom-800);
  --ids-smc-colors-brand-lighter-40: var(--ids-base-color-custom-900);
  --ids-smc-colors-brand-lighter-50: var(--ids-base-color-custom-950);
  --ids-smc-colors-error-darker-10: var(--ids-base-color-red-300);
  --ids-smc-colors-error-darker-20: var(--ids-base-color-red-200);
  --ids-smc-colors-error-darker-30: var(--ids-base-color-red-100);
  --ids-smc-colors-error-darker-40: var(--ids-base-color-red-100);
  --ids-smc-colors-error-darker-50: var(--ids-base-color-red-50);
  --ids-smc-colors-error-default: var(--ids-base-color-red-400);
  --ids-smc-colors-error-fixed-darker-10: var(--ids-base-color-red-600);
  --ids-smc-colors-error-fixed-darker-20: var(--ids-base-color-red-700);
  --ids-smc-colors-error-fixed-darker-30: var(--ids-base-color-red-800);
  --ids-smc-colors-error-fixed-darker-40: var(--ids-base-color-red-900);
  --ids-smc-colors-error-fixed-darker-50: var(--ids-base-color-red-950);
  --ids-smc-colors-error-fixed-default: var(--ids-base-color-red-500);
  --ids-smc-colors-error-fixed-lighter-10: var(--ids-base-color-red-400);
  --ids-smc-colors-error-fixed-lighter-20: var(--ids-base-color-red-300);
  --ids-smc-colors-error-fixed-lighter-30: var(--ids-base-color-red-200);
  --ids-smc-colors-error-fixed-lighter-40: var(--ids-base-color-red-100);
  --ids-smc-colors-error-fixed-lighter-50: var(--ids-base-color-red-50);
  --ids-smc-colors-error-lighter-10: var(--ids-base-color-red-600);
  --ids-smc-colors-error-lighter-20: var(--ids-base-color-red-700);
  --ids-smc-colors-error-lighter-30: var(--ids-base-color-red-800);
  --ids-smc-colors-error-lighter-40: var(--ids-base-color-red-900);
  --ids-smc-colors-error-lighter-50: var(--ids-base-color-red-950);
  --ids-smc-colors-facebook-darker-10: #0052d6;
  --ids-smc-colors-facebook-darker-20: #0042ad;
  --ids-smc-colors-facebook-default: #0866ff;
  --ids-smc-colors-facebook-lighter-10: #3481ff;
  --ids-smc-colors-facebook-lighter-20: #619dff;
  --ids-smc-colors-facebook-lighter-30: #8db8ff;
  --ids-smc-colors-github-darker-10: #262626;
  --ids-smc-colors-github-darker-20: #191919;
  --ids-smc-colors-github-default: #333333;
  --ids-smc-colors-github-lighter-10: #3f3f3f;
  --ids-smc-colors-github-lighter-20: #4c4c4c;
  --ids-smc-colors-github-lighter-30: #595959;
  --ids-smc-colors-gmail-darker-10: #c82f23;
  --ids-smc-colors-gmail-darker-20: #a61f14;
  --ids-smc-colors-gmail-default: #ea4335;
  --ids-smc-colors-gmail-lighter-10: #ff5647;
  --ids-smc-colors-gmail-lighter-20: #ff7c71;
  --ids-smc-colors-gmail-lighter-30: #ffa29a;
  --ids-smc-colors-highlight-darker-10: var(--ids-base-color-cyan-300);
  --ids-smc-colors-highlight-darker-20: var(--ids-base-color-cyan-200);
  --ids-smc-colors-highlight-darker-30: var(--ids-base-color-cyan-100);
  --ids-smc-colors-highlight-darker-40: var(--ids-base-color-cyan-100);
  --ids-smc-colors-highlight-darker-50: var(--ids-base-color-cyan-50);
  --ids-smc-colors-highlight-default: var(--ids-base-color-cyan-400);
  --ids-smc-colors-highlight-fixed-darker-10: var(--ids-base-color-cyan-600);
  --ids-smc-colors-highlight-fixed-darker-20: var(--ids-base-color-cyan-700);
  --ids-smc-colors-highlight-fixed-darker-30: var(--ids-base-color-cyan-800);
  --ids-smc-colors-highlight-fixed-darker-40: var(--ids-base-color-cyan-900);
  --ids-smc-colors-highlight-fixed-darker-50: var(--ids-base-color-cyan-950);
  --ids-smc-colors-highlight-fixed-default: var(--ids-base-color-cyan-500);
  --ids-smc-colors-highlight-fixed-lighter-10: var(--ids-base-color-cyan-400);
  --ids-smc-colors-highlight-fixed-lighter-20: var(--ids-base-color-cyan-300);
  --ids-smc-colors-highlight-fixed-lighter-30: var(--ids-base-color-cyan-200);
  --ids-smc-colors-highlight-fixed-lighter-40: var(--ids-base-color-cyan-100);
  --ids-smc-colors-highlight-fixed-lighter-50: var(--ids-base-color-cyan-50);
  --ids-smc-colors-highlight-lighter-10: var(--ids-base-color-cyan-600);
  --ids-smc-colors-highlight-lighter-20: var(--ids-base-color-cyan-700);
  --ids-smc-colors-highlight-lighter-30: var(--ids-base-color-cyan-800);
  --ids-smc-colors-highlight-lighter-40: var(--ids-base-color-cyan-900);
  --ids-smc-colors-highlight-lighter-50: var(--ids-base-color-cyan-950);
  --ids-smc-colors-info-darker-10: var(--ids-base-color-blue-300);
  --ids-smc-colors-info-darker-20: var(--ids-base-color-blue-200);
  --ids-smc-colors-info-darker-30: var(--ids-base-color-blue-100);
  --ids-smc-colors-info-darker-40: var(--ids-base-color-blue-100);
  --ids-smc-colors-info-darker-50: var(--ids-base-color-blue-50);
  --ids-smc-colors-info-default: var(--ids-base-color-blue-400);
  --ids-smc-colors-info-fixed-darker-10: var(--ids-base-color-blue-600);
  --ids-smc-colors-info-fixed-darker-20: var(--ids-base-color-blue-700);
  --ids-smc-colors-info-fixed-darker-30: var(--ids-base-color-blue-800);
  --ids-smc-colors-info-fixed-darker-40: var(--ids-base-color-blue-900);
  --ids-smc-colors-info-fixed-darker-50: var(--ids-base-color-blue-950);
  --ids-smc-colors-info-fixed-default: var(--ids-base-color-blue-500);
  --ids-smc-colors-info-fixed-lighter-10: var(--ids-base-color-blue-400);
  --ids-smc-colors-info-fixed-lighter-20: var(--ids-base-color-blue-300);
  --ids-smc-colors-info-fixed-lighter-30: var(--ids-base-color-blue-200);
  --ids-smc-colors-info-fixed-lighter-40: var(--ids-base-color-blue-100);
  --ids-smc-colors-info-fixed-lighter-50: var(--ids-base-color-blue-50);
  --ids-smc-colors-info-lighter-10: var(--ids-base-color-blue-600);
  --ids-smc-colors-info-lighter-20: var(--ids-base-color-blue-700);
  --ids-smc-colors-info-lighter-30: var(--ids-base-color-blue-800);
  --ids-smc-colors-info-lighter-40: var(--ids-base-color-blue-900);
  --ids-smc-colors-info-lighter-50: var(--ids-base-color-blue-950);
  --ids-smc-colors-linkedin-darker-10: #004182;
  --ids-smc-colors-linkedin-darker-20: #053059;
  --ids-smc-colors-linkedin-default: #0a66c2;
  --ids-smc-colors-linkedin-lighter-10: #378fe9;
  --ids-smc-colors-linkedin-lighter-20: #71b7fb;
  --ids-smc-colors-linkedin-lighter-30: #aad6ff;
  --ids-smc-colors-opacity-cool-100: var(--ids-base-color-opacity-light-100);
  --ids-smc-colors-opacity-cool-150: var(--ids-base-color-opacity-light-150);
  --ids-smc-colors-opacity-cool-200: var(--ids-base-color-opacity-light-200);
  --ids-smc-colors-opacity-cool-250: var(--ids-base-color-opacity-light-250);
  --ids-smc-colors-opacity-cool-300: var(--ids-base-color-opacity-light-300);
  --ids-smc-colors-opacity-cool-400: var(--ids-base-color-opacity-light-400);
  --ids-smc-colors-opacity-cool-50: var(--ids-base-color-opacity-light-50);
  --ids-smc-colors-opacity-cool-500: var(--ids-base-color-opacity-light-500);
  --ids-smc-colors-opacity-cool-600: var(--ids-base-color-opacity-light-600);
  --ids-smc-colors-opacity-cool-700: var(--ids-base-color-opacity-light-700);
  --ids-smc-colors-opacity-cool-800: var(--ids-base-color-opacity-light-800);
  --ids-smc-colors-opacity-cool-900: var(--ids-base-color-opacity-light-900);
  --ids-smc-colors-opacity-cool-950: var(--ids-base-color-opacity-light-950);
  --ids-smc-colors-opacity-dark-100: var(--ids-base-color-opacity-light-100);
  --ids-smc-colors-opacity-dark-150: var(--ids-base-color-opacity-light-150);
  --ids-smc-colors-opacity-dark-200: var(--ids-base-color-opacity-light-200);
  --ids-smc-colors-opacity-dark-250: var(--ids-base-color-opacity-light-250);
  --ids-smc-colors-opacity-dark-300: var(--ids-base-color-opacity-light-300);
  --ids-smc-colors-opacity-dark-400: var(--ids-base-color-opacity-light-400);
  --ids-smc-colors-opacity-dark-50: var(--ids-base-color-opacity-light-50);
  --ids-smc-colors-opacity-dark-500: var(--ids-base-color-opacity-light-500);
  --ids-smc-colors-opacity-dark-600: var(--ids-base-color-opacity-light-600);
  --ids-smc-colors-opacity-dark-700: var(--ids-base-color-opacity-light-700);
  --ids-smc-colors-opacity-dark-800: var(--ids-base-color-opacity-light-800);
  --ids-smc-colors-opacity-dark-900: var(--ids-base-color-opacity-light-900);
  --ids-smc-colors-opacity-dark-950: var(--ids-base-color-opacity-light-950);
  --ids-smc-colors-opacity-dark-cool-100: var(--ids-base-color-opacity-light-100);
  --ids-smc-colors-opacity-dark-cool-150: var(--ids-base-color-opacity-light-150);
  --ids-smc-colors-opacity-dark-cool-200: var(--ids-base-color-opacity-light-200);
  --ids-smc-colors-opacity-dark-cool-250: var(--ids-base-color-opacity-light-250);
  --ids-smc-colors-opacity-dark-cool-300: var(--ids-base-color-opacity-light-300);
  --ids-smc-colors-opacity-dark-cool-400: var(--ids-base-color-opacity-light-400);
  --ids-smc-colors-opacity-dark-cool-50: var(--ids-base-color-opacity-light-50);
  --ids-smc-colors-opacity-dark-cool-500: var(--ids-base-color-opacity-light-500);
  --ids-smc-colors-opacity-dark-cool-600: var(--ids-base-color-opacity-light-600);
  --ids-smc-colors-opacity-dark-cool-700: var(--ids-base-color-opacity-light-700);
  --ids-smc-colors-opacity-dark-cool-800: var(--ids-base-color-opacity-light-800);
  --ids-smc-colors-opacity-dark-cool-900: var(--ids-base-color-opacity-light-900);
  --ids-smc-colors-opacity-dark-cool-950: var(--ids-base-color-opacity-light-950);
  --ids-smc-colors-opacity-dark-cool-variant-default: var(--ids-base-color-opacity-darkcool-700);
  --ids-smc-colors-opacity-light-100: var(--ids-base-color-opacity-light-100);
  --ids-smc-colors-opacity-light-150: var(--ids-base-color-opacity-light-150);
  --ids-smc-colors-opacity-light-200: var(--ids-base-color-opacity-light-200);
  --ids-smc-colors-opacity-light-250: var(--ids-base-color-opacity-light-250);
  --ids-smc-colors-opacity-light-300: var(--ids-base-color-opacity-light-300);
  --ids-smc-colors-opacity-light-400: var(--ids-base-color-opacity-light-400);
  --ids-smc-colors-opacity-light-50: var(--ids-base-color-opacity-light-50);
  --ids-smc-colors-opacity-light-500: var(--ids-base-color-opacity-light-500);
  --ids-smc-colors-opacity-light-600: var(--ids-base-color-opacity-light-600);
  --ids-smc-colors-opacity-light-700: var(--ids-base-color-opacity-light-700);
  --ids-smc-colors-opacity-light-800: var(--ids-base-color-opacity-light-800);
  --ids-smc-colors-opacity-light-900: var(--ids-base-color-opacity-light-900);
  --ids-smc-colors-opacity-light-950: var(--ids-base-color-opacity-light-950);
  --ids-smc-colors-primary-darker-10: var(--ids-base-color-custom-300);
  --ids-smc-colors-primary-darker-20: var(--ids-base-color-custom-200);
  --ids-smc-colors-primary-darker-30: var(--ids-base-color-custom-100);
  --ids-smc-colors-primary-darker-40: var(--ids-base-color-custom-100);
  --ids-smc-colors-primary-darker-50: var(--ids-base-color-custom-50);
  --ids-smc-colors-primary-default: var(--ids-base-color-custom-400);
  --ids-smc-colors-primary-fixed-darker-10: var(--ids-base-color-custom-600);
  --ids-smc-colors-primary-fixed-darker-20: var(--ids-base-color-custom-700);
  --ids-smc-colors-primary-fixed-darker-30: var(--ids-base-color-custom-800);
  --ids-smc-colors-primary-fixed-darker-40: var(--ids-base-color-custom-900);
  --ids-smc-colors-primary-fixed-darker-50: var(--ids-base-color-custom-950);
  --ids-smc-colors-primary-fixed-default: var(--ids-base-color-custom-500);
  --ids-smc-colors-primary-fixed-lighter-10: var(--ids-base-color-custom-400);
  --ids-smc-colors-primary-fixed-lighter-20: var(--ids-base-color-custom-300);
  --ids-smc-colors-primary-fixed-lighter-30: var(--ids-base-color-custom-200);
  --ids-smc-colors-primary-fixed-lighter-40: var(--ids-base-color-custom-100);
  --ids-smc-colors-primary-fixed-lighter-50: var(--ids-base-color-custom-50);
  --ids-smc-colors-primary-lighter-10: var(--ids-base-color-custom-600);
  --ids-smc-colors-primary-lighter-20: var(--ids-base-color-custom-700);
  --ids-smc-colors-primary-lighter-30: var(--ids-base-color-custom-800);
  --ids-smc-colors-primary-lighter-40: var(--ids-base-color-custom-900);
  --ids-smc-colors-primary-lighter-50: var(--ids-base-color-custom-950);
  --ids-smc-colors-primary-variant-darker-50: var(--ids-smc-reference-page-color-bg-light-darker-100);
  --ids-smc-colors-secondary-darker-10: var(--ids-base-color-slate-300);
  --ids-smc-colors-secondary-darker-20: var(--ids-base-color-slate-200);
  --ids-smc-colors-secondary-darker-30: var(--ids-base-color-slate-100);
  --ids-smc-colors-secondary-darker-40: var(--ids-base-color-slate-100);
  --ids-smc-colors-secondary-darker-50: var(--ids-base-color-slate-50);
  --ids-smc-colors-secondary-default: var(--ids-base-color-slate-400);
  --ids-smc-colors-secondary-fixed-darker-10: var(--ids-base-color-slate-600);
  --ids-smc-colors-secondary-fixed-darker-20: var(--ids-base-color-slate-700);
  --ids-smc-colors-secondary-fixed-darker-30: var(--ids-base-color-slate-800);
  --ids-smc-colors-secondary-fixed-darker-40: var(--ids-base-color-slate-900);
  --ids-smc-colors-secondary-fixed-darker-50: var(--ids-base-color-slate-950);
  --ids-smc-colors-secondary-fixed-default: var(--ids-base-color-slate-500);
  --ids-smc-colors-secondary-fixed-lighter-10: var(--ids-base-color-slate-400);
  --ids-smc-colors-secondary-fixed-lighter-20: var(--ids-base-color-slate-300);
  --ids-smc-colors-secondary-fixed-lighter-30: var(--ids-base-color-slate-200);
  --ids-smc-colors-secondary-fixed-lighter-40: var(--ids-base-color-slate-100);
  --ids-smc-colors-secondary-fixed-lighter-50: var(--ids-base-color-slate-50);
  --ids-smc-colors-secondary-lighter-10: var(--ids-base-color-slate-600);
  --ids-smc-colors-secondary-lighter-20: var(--ids-base-color-slate-700);
  --ids-smc-colors-secondary-lighter-30: var(--ids-base-color-slate-800);
  --ids-smc-colors-secondary-lighter-40: var(--ids-base-color-slate-900);
  --ids-smc-colors-secondary-lighter-50: var(--ids-base-color-slate-950);
  --ids-smc-colors-success-darker-10: var(--ids-base-color-green-300);
  --ids-smc-colors-success-darker-20: var(--ids-base-color-green-200);
  --ids-smc-colors-success-darker-30: var(--ids-base-color-green-100);
  --ids-smc-colors-success-darker-40: var(--ids-base-color-green-100);
  --ids-smc-colors-success-darker-50: var(--ids-base-color-green-50);
  --ids-smc-colors-success-default: var(--ids-base-color-green-400);
  --ids-smc-colors-success-fixed-darker-10: var(--ids-base-color-green-600);
  --ids-smc-colors-success-fixed-darker-20: var(--ids-base-color-green-700);
  --ids-smc-colors-success-fixed-darker-30: var(--ids-base-color-green-800);
  --ids-smc-colors-success-fixed-darker-40: var(--ids-base-color-green-900);
  --ids-smc-colors-success-fixed-darker-50: var(--ids-base-color-green-950);
  --ids-smc-colors-success-fixed-default: var(--ids-base-color-green-500);
  --ids-smc-colors-success-fixed-lighter-10: var(--ids-base-color-green-400);
  --ids-smc-colors-success-fixed-lighter-20: var(--ids-base-color-green-300);
  --ids-smc-colors-success-fixed-lighter-30: var(--ids-base-color-green-200);
  --ids-smc-colors-success-fixed-lighter-40: var(--ids-base-color-green-100);
  --ids-smc-colors-success-fixed-lighter-50: var(--ids-base-color-green-50);
  --ids-smc-colors-success-lighter-10: var(--ids-base-color-green-600);
  --ids-smc-colors-success-lighter-20: var(--ids-base-color-green-700);
  --ids-smc-colors-success-lighter-30: var(--ids-base-color-green-800);
  --ids-smc-colors-success-lighter-40: var(--ids-base-color-green-900);
  --ids-smc-colors-success-lighter-50: var(--ids-base-color-green-950);
  --ids-smc-colors-surface-darker-10: var(--ids-base-color-slate-900);
  --ids-smc-colors-surface-darker-100: var(--ids-base-color-light);
  --ids-smc-colors-surface-darker-20: var(--ids-base-color-slate-800);
  --ids-smc-colors-surface-darker-30: var(--ids-base-color-slate-700);
  --ids-smc-colors-surface-darker-40: var(--ids-base-color-slate-600);
  --ids-smc-colors-surface-darker-50: var(--ids-base-color-slate-400);
  --ids-smc-colors-surface-darker-60: var(--ids-base-color-slate-300);
  --ids-smc-colors-surface-darker-70: var(--ids-base-color-slate-200);
  --ids-smc-colors-surface-darker-80: var(--ids-base-color-slate-100);
  --ids-smc-colors-surface-darker-90: var(--ids-base-color-slate-100);
  --ids-smc-colors-surface-darker-95: var(--ids-base-color-slate-50);
  --ids-smc-colors-surface-default: var(--ids-base-color-slate-950);
  --ids-smc-colors-surface-fixed-darker-10: var(--ids-base-color-slate-100);
  --ids-smc-colors-surface-fixed-darker-100: var(--ids-base-color-dark);
  --ids-smc-colors-surface-fixed-darker-20: var(--ids-base-color-slate-200);
  --ids-smc-colors-surface-fixed-darker-30: var(--ids-base-color-slate-300);
  --ids-smc-colors-surface-fixed-darker-40: var(--ids-base-color-slate-400);
  --ids-smc-colors-surface-fixed-darker-50: var(--ids-base-color-slate-500);
  --ids-smc-colors-surface-fixed-darker-60: var(--ids-base-color-slate-600);
  --ids-smc-colors-surface-fixed-darker-70: var(--ids-base-color-slate-700);
  --ids-smc-colors-surface-fixed-darker-80: var(--ids-base-color-slate-800);
  --ids-smc-colors-surface-fixed-darker-90: var(--ids-base-color-slate-900);
  --ids-smc-colors-surface-fixed-darker-95: var(--ids-base-color-slate-950);
  --ids-smc-colors-surface-fixed-default: var(--ids-base-color-slate-50);
  --ids-smc-colors-surface-fixed-lighter-10: var(--ids-base-color-light);
  --ids-smc-colors-surface-lighter-10: var(--ids-base-color-dark);
  --ids-smc-colors-surface-variant-darker-10: var(--ids-base-color-slate-800);
  --ids-smc-colors-surface-variant-default: var(--ids-base-color-slate-600);
  --ids-smc-colors-surface-variant-lighter-30: var(--ids-base-color-slate-500);
  --ids-smc-colors-surface-variant-lighter-40: var(--ids-base-color-slate-800);
  --ids-smc-colors-warning-darker-10: var(--ids-base-color-orange-300);
  --ids-smc-colors-warning-darker-20: var(--ids-base-color-orange-200);
  --ids-smc-colors-warning-darker-30: var(--ids-base-color-orange-100);
  --ids-smc-colors-warning-darker-40: var(--ids-base-color-orange-100);
  --ids-smc-colors-warning-darker-50: var(--ids-base-color-orange-50);
  --ids-smc-colors-warning-default: var(--ids-base-color-orange-400);
  --ids-smc-colors-warning-fixed-darker-10: var(--ids-base-color-orange-600);
  --ids-smc-colors-warning-fixed-darker-20: var(--ids-base-color-orange-700);
  --ids-smc-colors-warning-fixed-darker-30: var(--ids-base-color-orange-800);
  --ids-smc-colors-warning-fixed-darker-40: var(--ids-base-color-orange-900);
  --ids-smc-colors-warning-fixed-darker-50: var(--ids-base-color-orange-950);
  --ids-smc-colors-warning-fixed-default: var(--ids-base-color-orange-500);
  --ids-smc-colors-warning-fixed-lighter-10: var(--ids-base-color-orange-400);
  --ids-smc-colors-warning-fixed-lighter-20: var(--ids-base-color-orange-300);
  --ids-smc-colors-warning-fixed-lighter-30: var(--ids-base-color-orange-200);
  --ids-smc-colors-warning-fixed-lighter-40: var(--ids-base-color-orange-100);
  --ids-smc-colors-warning-fixed-lighter-50: var(--ids-base-color-orange-50);
  --ids-smc-colors-warning-lighter-10: var(--ids-base-color-orange-600);
  --ids-smc-colors-warning-lighter-20: var(--ids-base-color-orange-700);
  --ids-smc-colors-warning-lighter-30: var(--ids-base-color-orange-800);
  --ids-smc-colors-warning-lighter-40: var(--ids-base-color-orange-900);
  --ids-smc-colors-warning-lighter-50: var(--ids-base-color-orange-950);
}

.ids-theme-light {
  --ids-smc-colors-brand-darker-10: var(--ids-base-color-custom-600);
  --ids-smc-colors-brand-darker-20: var(--ids-base-color-custom-700);
  --ids-smc-colors-brand-darker-30: var(--ids-base-color-custom-800);
  --ids-smc-colors-brand-darker-40: var(--ids-base-color-custom-900);
  --ids-smc-colors-brand-darker-50: var(--ids-base-color-custom-950);
  --ids-smc-colors-brand-default: var(--ids-base-color-custom-500);
  --ids-smc-colors-brand-fixed-darker-10: var(--ids-base-color-custom-600);
  --ids-smc-colors-brand-fixed-darker-20: var(--ids-base-color-custom-700);
  --ids-smc-colors-brand-fixed-darker-30: var(--ids-base-color-custom-800);
  --ids-smc-colors-brand-fixed-darker-40: var(--ids-base-color-custom-900);
  --ids-smc-colors-brand-fixed-darker-50: var(--ids-base-color-custom-950);
  --ids-smc-colors-brand-fixed-default: var(--ids-base-color-custom-500);
  --ids-smc-colors-brand-fixed-lighter-10: var(--ids-base-color-custom-400);
  --ids-smc-colors-brand-fixed-lighter-20: var(--ids-base-color-custom-300);
  --ids-smc-colors-brand-fixed-lighter-30: var(--ids-base-color-custom-200);
  --ids-smc-colors-brand-fixed-lighter-40: var(--ids-base-color-custom-100);
  --ids-smc-colors-brand-fixed-lighter-50: var(--ids-base-color-custom-50);
  --ids-smc-colors-brand-lighter-10: var(--ids-base-color-custom-400);
  --ids-smc-colors-brand-lighter-20: var(--ids-base-color-custom-300);
  --ids-smc-colors-brand-lighter-30: var(--ids-base-color-custom-200);
  --ids-smc-colors-brand-lighter-40: var(--ids-base-color-custom-100);
  --ids-smc-colors-brand-lighter-50: var(--ids-base-color-custom-50);
  --ids-smc-colors-error-darker-10: var(--ids-base-color-red-600);
  --ids-smc-colors-error-darker-20: var(--ids-base-color-red-700);
  --ids-smc-colors-error-darker-30: var(--ids-base-color-red-800);
  --ids-smc-colors-error-darker-40: var(--ids-base-color-red-900);
  --ids-smc-colors-error-darker-50: var(--ids-base-color-red-950);
  --ids-smc-colors-error-default: var(--ids-base-color-red-500);
  --ids-smc-colors-error-fixed-darker-10: var(--ids-base-color-red-600);
  --ids-smc-colors-error-fixed-darker-20: var(--ids-base-color-red-700);
  --ids-smc-colors-error-fixed-darker-30: var(--ids-base-color-red-800);
  --ids-smc-colors-error-fixed-darker-40: var(--ids-base-color-red-900);
  --ids-smc-colors-error-fixed-darker-50: var(--ids-base-color-red-950);
  --ids-smc-colors-error-fixed-default: var(--ids-base-color-red-500);
  --ids-smc-colors-error-fixed-lighter-10: var(--ids-base-color-red-400);
  --ids-smc-colors-error-fixed-lighter-20: var(--ids-base-color-red-300);
  --ids-smc-colors-error-fixed-lighter-30: var(--ids-base-color-red-200);
  --ids-smc-colors-error-fixed-lighter-40: var(--ids-base-color-red-100);
  --ids-smc-colors-error-fixed-lighter-50: var(--ids-base-color-red-50);
  --ids-smc-colors-error-lighter-10: var(--ids-base-color-red-400);
  --ids-smc-colors-error-lighter-20: var(--ids-base-color-red-300);
  --ids-smc-colors-error-lighter-30: var(--ids-base-color-red-200);
  --ids-smc-colors-error-lighter-40: var(--ids-base-color-red-100);
  --ids-smc-colors-error-lighter-50: var(--ids-base-color-red-50);
  --ids-smc-colors-facebook-darker-10: #0052d6;
  --ids-smc-colors-facebook-darker-20: #0042ad;
  --ids-smc-colors-facebook-default: #0866ff;
  --ids-smc-colors-facebook-lighter-10: #3481ff;
  --ids-smc-colors-facebook-lighter-20: #619dff;
  --ids-smc-colors-facebook-lighter-30: #8db8ff;
  --ids-smc-colors-github-darker-10: #262626;
  --ids-smc-colors-github-darker-20: #191919;
  --ids-smc-colors-github-default: #333333;
  --ids-smc-colors-github-lighter-10: #3f3f3f;
  --ids-smc-colors-github-lighter-20: #4c4c4c;
  --ids-smc-colors-github-lighter-30: #595959;
  --ids-smc-colors-gmail-darker-10: #c82f23;
  --ids-smc-colors-gmail-darker-20: #a61f14;
  --ids-smc-colors-gmail-default: #ea4335;
  --ids-smc-colors-gmail-lighter-10: #ff5647;
  --ids-smc-colors-gmail-lighter-20: #ff7c71;
  --ids-smc-colors-gmail-lighter-30: #ffa29a;
  --ids-smc-colors-highlight-darker-10: var(--ids-base-color-cyan-600);
  --ids-smc-colors-highlight-darker-20: var(--ids-base-color-cyan-700);
  --ids-smc-colors-highlight-darker-30: var(--ids-base-color-cyan-800);
  --ids-smc-colors-highlight-darker-40: var(--ids-base-color-cyan-900);
  --ids-smc-colors-highlight-darker-50: var(--ids-base-color-cyan-950);
  --ids-smc-colors-highlight-default: var(--ids-base-color-cyan-500);
  --ids-smc-colors-highlight-fixed-darker-10: var(--ids-base-color-cyan-600);
  --ids-smc-colors-highlight-fixed-darker-20: var(--ids-base-color-cyan-700);
  --ids-smc-colors-highlight-fixed-darker-30: var(--ids-base-color-cyan-800);
  --ids-smc-colors-highlight-fixed-darker-40: var(--ids-base-color-cyan-900);
  --ids-smc-colors-highlight-fixed-darker-50: var(--ids-base-color-cyan-950);
  --ids-smc-colors-highlight-fixed-default: var(--ids-base-color-cyan-500);
  --ids-smc-colors-highlight-fixed-lighter-10: var(--ids-base-color-cyan-400);
  --ids-smc-colors-highlight-fixed-lighter-20: var(--ids-base-color-cyan-300);
  --ids-smc-colors-highlight-fixed-lighter-30: var(--ids-base-color-cyan-200);
  --ids-smc-colors-highlight-fixed-lighter-40: var(--ids-base-color-cyan-100);
  --ids-smc-colors-highlight-fixed-lighter-50: var(--ids-base-color-cyan-50);
  --ids-smc-colors-highlight-lighter-10: var(--ids-base-color-cyan-400);
  --ids-smc-colors-highlight-lighter-20: var(--ids-base-color-cyan-300);
  --ids-smc-colors-highlight-lighter-30: var(--ids-base-color-cyan-200);
  --ids-smc-colors-highlight-lighter-40: var(--ids-base-color-cyan-100);
  --ids-smc-colors-highlight-lighter-50: var(--ids-base-color-cyan-50);
  --ids-smc-colors-info-darker-10: var(--ids-base-color-blue-600);
  --ids-smc-colors-info-darker-20: var(--ids-base-color-blue-700);
  --ids-smc-colors-info-darker-30: var(--ids-base-color-blue-800);
  --ids-smc-colors-info-darker-40: var(--ids-base-color-blue-900);
  --ids-smc-colors-info-darker-50: var(--ids-base-color-blue-950);
  --ids-smc-colors-info-default: var(--ids-base-color-blue-500);
  --ids-smc-colors-info-fixed-darker-10: var(--ids-base-color-blue-600);
  --ids-smc-colors-info-fixed-darker-20: var(--ids-base-color-blue-700);
  --ids-smc-colors-info-fixed-darker-30: var(--ids-base-color-blue-800);
  --ids-smc-colors-info-fixed-darker-40: var(--ids-base-color-blue-900);
  --ids-smc-colors-info-fixed-darker-50: var(--ids-base-color-blue-950);
  --ids-smc-colors-info-fixed-default: var(--ids-base-color-blue-500);
  --ids-smc-colors-info-fixed-lighter-10: var(--ids-base-color-blue-400);
  --ids-smc-colors-info-fixed-lighter-20: var(--ids-base-color-blue-300);
  --ids-smc-colors-info-fixed-lighter-30: var(--ids-base-color-blue-200);
  --ids-smc-colors-info-fixed-lighter-40: var(--ids-base-color-blue-100);
  --ids-smc-colors-info-fixed-lighter-50: var(--ids-base-color-blue-50);
  --ids-smc-colors-info-lighter-10: var(--ids-base-color-blue-400);
  --ids-smc-colors-info-lighter-20: var(--ids-base-color-blue-300);
  --ids-smc-colors-info-lighter-30: var(--ids-base-color-blue-200);
  --ids-smc-colors-info-lighter-40: var(--ids-base-color-blue-100);
  --ids-smc-colors-info-lighter-50: var(--ids-base-color-blue-50);
  --ids-smc-colors-linkedin-darker-10: #004182;
  --ids-smc-colors-linkedin-darker-20: #053059;
  --ids-smc-colors-linkedin-default: #0a66c2;
  --ids-smc-colors-linkedin-lighter-10: #378fe9;
  --ids-smc-colors-linkedin-lighter-20: #71b7fb;
  --ids-smc-colors-linkedin-lighter-30: #aad6ff;
  --ids-smc-colors-opacity-cool-100: var(--ids-base-color-opacity-cool-100);
  --ids-smc-colors-opacity-cool-150: var(--ids-base-color-opacity-cool-150);
  --ids-smc-colors-opacity-cool-200: var(--ids-base-color-opacity-cool-200);
  --ids-smc-colors-opacity-cool-250: var(--ids-base-color-opacity-cool-250);
  --ids-smc-colors-opacity-cool-300: var(--ids-base-color-opacity-cool-300);
  --ids-smc-colors-opacity-cool-400: var(--ids-base-color-opacity-cool-400);
  --ids-smc-colors-opacity-cool-50: var(--ids-base-color-opacity-cool-50);
  --ids-smc-colors-opacity-cool-500: var(--ids-base-color-opacity-cool-500);
  --ids-smc-colors-opacity-cool-600: var(--ids-base-color-opacity-cool-600);
  --ids-smc-colors-opacity-cool-700: var(--ids-base-color-opacity-cool-700);
  --ids-smc-colors-opacity-cool-800: var(--ids-base-color-opacity-cool-800);
  --ids-smc-colors-opacity-cool-900: var(--ids-base-color-opacity-cool-900);
  --ids-smc-colors-opacity-cool-950: var(--ids-base-color-opacity-cool-950);
  --ids-smc-colors-opacity-dark-100: var(--ids-base-color-opacity-dark-100);
  --ids-smc-colors-opacity-dark-150: var(--ids-base-color-opacity-dark-150);
  --ids-smc-colors-opacity-dark-200: var(--ids-base-color-opacity-dark-200);
  --ids-smc-colors-opacity-dark-250: var(--ids-base-color-opacity-dark-250);
  --ids-smc-colors-opacity-dark-300: var(--ids-base-color-opacity-dark-300);
  --ids-smc-colors-opacity-dark-400: var(--ids-base-color-opacity-dark-400);
  --ids-smc-colors-opacity-dark-50: var(--ids-base-color-opacity-dark-50);
  --ids-smc-colors-opacity-dark-500: var(--ids-base-color-opacity-dark-500);
  --ids-smc-colors-opacity-dark-600: var(--ids-base-color-opacity-dark-600);
  --ids-smc-colors-opacity-dark-700: var(--ids-base-color-opacity-dark-700);
  --ids-smc-colors-opacity-dark-800: var(--ids-base-color-opacity-dark-800);
  --ids-smc-colors-opacity-dark-900: var(--ids-base-color-opacity-dark-900);
  --ids-smc-colors-opacity-dark-950: var(--ids-base-color-opacity-dark-950);
  --ids-smc-colors-opacity-dark-cool-100: var(--ids-base-color-opacity-darkcool-100);
  --ids-smc-colors-opacity-dark-cool-150: var(--ids-base-color-opacity-darkcool-150);
  --ids-smc-colors-opacity-dark-cool-200: var(--ids-base-color-opacity-darkcool-200);
  --ids-smc-colors-opacity-dark-cool-250: var(--ids-base-color-opacity-darkcool-250);
  --ids-smc-colors-opacity-dark-cool-300: var(--ids-base-color-opacity-darkcool-300);
  --ids-smc-colors-opacity-dark-cool-400: var(--ids-base-color-opacity-darkcool-400);
  --ids-smc-colors-opacity-dark-cool-50: var(--ids-base-color-opacity-darkcool-50);
  --ids-smc-colors-opacity-dark-cool-500: var(--ids-base-color-opacity-darkcool-500);
  --ids-smc-colors-opacity-dark-cool-600: var(--ids-base-color-opacity-darkcool-600);
  --ids-smc-colors-opacity-dark-cool-700: var(--ids-base-color-opacity-darkcool-700);
  --ids-smc-colors-opacity-dark-cool-800: var(--ids-base-color-opacity-darkcool-800);
  --ids-smc-colors-opacity-dark-cool-900: var(--ids-base-color-opacity-darkcool-900);
  --ids-smc-colors-opacity-dark-cool-950: var(--ids-base-color-opacity-darkcool-950);
  --ids-smc-colors-opacity-dark-cool-variant-default: var(--ids-base-color-opacity-darkcool-250);
  --ids-smc-colors-opacity-light-100: var(--ids-base-color-opacity-light-100);
  --ids-smc-colors-opacity-light-150: var(--ids-base-color-opacity-light-150);
  --ids-smc-colors-opacity-light-200: var(--ids-base-color-opacity-light-200);
  --ids-smc-colors-opacity-light-250: var(--ids-base-color-opacity-light-250);
  --ids-smc-colors-opacity-light-300: var(--ids-base-color-opacity-light-300);
  --ids-smc-colors-opacity-light-400: var(--ids-base-color-opacity-light-400);
  --ids-smc-colors-opacity-light-50: var(--ids-base-color-opacity-light-50);
  --ids-smc-colors-opacity-light-500: var(--ids-base-color-opacity-light-500);
  --ids-smc-colors-opacity-light-600: var(--ids-base-color-opacity-light-600);
  --ids-smc-colors-opacity-light-700: var(--ids-base-color-opacity-light-700);
  --ids-smc-colors-opacity-light-800: var(--ids-base-color-opacity-light-800);
  --ids-smc-colors-opacity-light-900: var(--ids-base-color-opacity-light-900);
  --ids-smc-colors-opacity-light-950: var(--ids-base-color-opacity-light-950);
  --ids-smc-colors-primary-darker-10: var(--ids-base-color-custom-600);
  --ids-smc-colors-primary-darker-20: var(--ids-base-color-custom-700);
  --ids-smc-colors-primary-darker-30: var(--ids-base-color-custom-800);
  --ids-smc-colors-primary-darker-40: var(--ids-base-color-custom-900);
  --ids-smc-colors-primary-darker-50: var(--ids-base-color-custom-950);
  --ids-smc-colors-primary-default: var(--ids-base-color-custom-500);
  --ids-smc-colors-primary-fixed-darker-10: var(--ids-base-color-custom-600);
  --ids-smc-colors-primary-fixed-darker-20: var(--ids-base-color-custom-700);
  --ids-smc-colors-primary-fixed-darker-30: var(--ids-base-color-custom-800);
  --ids-smc-colors-primary-fixed-darker-40: var(--ids-base-color-custom-900);
  --ids-smc-colors-primary-fixed-darker-50: var(--ids-base-color-custom-950);
  --ids-smc-colors-primary-fixed-default: var(--ids-base-color-custom-500);
  --ids-smc-colors-primary-fixed-lighter-10: var(--ids-base-color-custom-400);
  --ids-smc-colors-primary-fixed-lighter-20: var(--ids-base-color-custom-300);
  --ids-smc-colors-primary-fixed-lighter-30: var(--ids-base-color-custom-200);
  --ids-smc-colors-primary-fixed-lighter-40: var(--ids-base-color-custom-100);
  --ids-smc-colors-primary-fixed-lighter-50: var(--ids-base-color-custom-50);
  --ids-smc-colors-primary-lighter-10: var(--ids-base-color-custom-400);
  --ids-smc-colors-primary-lighter-20: var(--ids-base-color-custom-300);
  --ids-smc-colors-primary-lighter-30: var(--ids-base-color-custom-200);
  --ids-smc-colors-primary-lighter-40: var(--ids-base-color-custom-100);
  --ids-smc-colors-primary-lighter-50: var(--ids-base-color-custom-50);
  --ids-smc-colors-primary-variant-darker-50: var(--ids-base-color-custom-950);
  --ids-smc-colors-secondary-darker-10: var(--ids-base-color-slate-600);
  --ids-smc-colors-secondary-darker-20: var(--ids-base-color-slate-700);
  --ids-smc-colors-secondary-darker-30: var(--ids-base-color-slate-800);
  --ids-smc-colors-secondary-darker-40: var(--ids-base-color-slate-900);
  --ids-smc-colors-secondary-darker-50: var(--ids-base-color-slate-950);
  --ids-smc-colors-secondary-default: var(--ids-base-color-slate-500);
  --ids-smc-colors-secondary-fixed-darker-10: var(--ids-base-color-slate-600);
  --ids-smc-colors-secondary-fixed-darker-20: var(--ids-base-color-slate-700);
  --ids-smc-colors-secondary-fixed-darker-30: var(--ids-base-color-slate-800);
  --ids-smc-colors-secondary-fixed-darker-40: var(--ids-base-color-slate-900);
  --ids-smc-colors-secondary-fixed-darker-50: var(--ids-base-color-slate-950);
  --ids-smc-colors-secondary-fixed-default: var(--ids-base-color-slate-500);
  --ids-smc-colors-secondary-fixed-lighter-10: var(--ids-base-color-slate-400);
  --ids-smc-colors-secondary-fixed-lighter-20: var(--ids-base-color-slate-300);
  --ids-smc-colors-secondary-fixed-lighter-30: var(--ids-base-color-slate-200);
  --ids-smc-colors-secondary-fixed-lighter-40: var(--ids-base-color-slate-100);
  --ids-smc-colors-secondary-fixed-lighter-50: var(--ids-base-color-slate-50);
  --ids-smc-colors-secondary-lighter-10: var(--ids-base-color-slate-400);
  --ids-smc-colors-secondary-lighter-20: var(--ids-base-color-slate-300);
  --ids-smc-colors-secondary-lighter-30: var(--ids-base-color-slate-200);
  --ids-smc-colors-secondary-lighter-40: var(--ids-base-color-slate-100);
  --ids-smc-colors-secondary-lighter-50: var(--ids-base-color-slate-50);
  --ids-smc-colors-success-darker-10: var(--ids-base-color-green-600);
  --ids-smc-colors-success-darker-20: var(--ids-base-color-green-700);
  --ids-smc-colors-success-darker-30: var(--ids-base-color-green-800);
  --ids-smc-colors-success-darker-40: var(--ids-base-color-green-900);
  --ids-smc-colors-success-darker-50: var(--ids-base-color-green-950);
  --ids-smc-colors-success-default: var(--ids-base-color-green-500);
  --ids-smc-colors-success-fixed-darker-10: var(--ids-base-color-green-600);
  --ids-smc-colors-success-fixed-darker-20: var(--ids-base-color-green-700);
  --ids-smc-colors-success-fixed-darker-30: var(--ids-base-color-green-800);
  --ids-smc-colors-success-fixed-darker-40: var(--ids-base-color-green-900);
  --ids-smc-colors-success-fixed-darker-50: var(--ids-base-color-green-950);
  --ids-smc-colors-success-fixed-default: var(--ids-base-color-green-500);
  --ids-smc-colors-success-fixed-lighter-10: var(--ids-base-color-green-400);
  --ids-smc-colors-success-fixed-lighter-20: var(--ids-base-color-green-300);
  --ids-smc-colors-success-fixed-lighter-30: var(--ids-base-color-green-200);
  --ids-smc-colors-success-fixed-lighter-40: var(--ids-base-color-green-100);
  --ids-smc-colors-success-fixed-lighter-50: var(--ids-base-color-green-50);
  --ids-smc-colors-success-lighter-10: var(--ids-base-color-green-400);
  --ids-smc-colors-success-lighter-20: var(--ids-base-color-green-300);
  --ids-smc-colors-success-lighter-30: var(--ids-base-color-green-200);
  --ids-smc-colors-success-lighter-40: var(--ids-base-color-green-100);
  --ids-smc-colors-success-lighter-50: var(--ids-base-color-green-50);
  --ids-smc-colors-surface-darker-10: var(--ids-base-color-slate-100);
  --ids-smc-colors-surface-darker-100: var(--ids-base-color-dark);
  --ids-smc-colors-surface-darker-20: var(--ids-base-color-slate-200);
  --ids-smc-colors-surface-darker-30: var(--ids-base-color-slate-300);
  --ids-smc-colors-surface-darker-40: var(--ids-base-color-slate-400);
  --ids-smc-colors-surface-darker-50: var(--ids-base-color-slate-500);
  --ids-smc-colors-surface-darker-60: var(--ids-base-color-slate-600);
  --ids-smc-colors-surface-darker-70: var(--ids-base-color-slate-700);
  --ids-smc-colors-surface-darker-80: var(--ids-base-color-slate-800);
  --ids-smc-colors-surface-darker-90: var(--ids-base-color-slate-900);
  --ids-smc-colors-surface-darker-95: var(--ids-base-color-slate-950);
  --ids-smc-colors-surface-default: var(--ids-base-color-slate-50);
  --ids-smc-colors-surface-fixed-darker-10: var(--ids-base-color-slate-100);
  --ids-smc-colors-surface-fixed-darker-100: var(--ids-base-color-dark);
  --ids-smc-colors-surface-fixed-darker-20: var(--ids-base-color-slate-200);
  --ids-smc-colors-surface-fixed-darker-30: var(--ids-base-color-slate-300);
  --ids-smc-colors-surface-fixed-darker-40: var(--ids-base-color-slate-400);
  --ids-smc-colors-surface-fixed-darker-50: var(--ids-base-color-slate-500);
  --ids-smc-colors-surface-fixed-darker-60: var(--ids-base-color-slate-600);
  --ids-smc-colors-surface-fixed-darker-70: var(--ids-base-color-slate-700);
  --ids-smc-colors-surface-fixed-darker-80: var(--ids-base-color-slate-800);
  --ids-smc-colors-surface-fixed-darker-90: var(--ids-base-color-slate-900);
  --ids-smc-colors-surface-fixed-darker-95: var(--ids-base-color-slate-950);
  --ids-smc-colors-surface-fixed-default: var(--ids-base-color-slate-50);
  --ids-smc-colors-surface-fixed-lighter-10: var(--ids-base-color-light);
  --ids-smc-colors-surface-lighter-10: var(--ids-base-color-light);
  --ids-smc-colors-surface-variant-darker-10: var(--ids-base-color-slate-50);
  --ids-smc-colors-surface-variant-default: var(--ids-base-color-slate-50);
  --ids-smc-colors-surface-variant-lighter-30: var(--ids-base-color-light);
  --ids-smc-colors-surface-variant-lighter-40: var(--ids-base-color-light);
  --ids-smc-colors-warning-darker-10: var(--ids-base-color-orange-600);
  --ids-smc-colors-warning-darker-20: var(--ids-base-color-orange-700);
  --ids-smc-colors-warning-darker-30: var(--ids-base-color-orange-800);
  --ids-smc-colors-warning-darker-40: var(--ids-base-color-orange-900);
  --ids-smc-colors-warning-darker-50: var(--ids-base-color-orange-950);
  --ids-smc-colors-warning-default: var(--ids-base-color-orange-500);
  --ids-smc-colors-warning-fixed-darker-10: var(--ids-base-color-orange-600);
  --ids-smc-colors-warning-fixed-darker-20: var(--ids-base-color-orange-700);
  --ids-smc-colors-warning-fixed-darker-30: var(--ids-base-color-orange-800);
  --ids-smc-colors-warning-fixed-darker-40: var(--ids-base-color-orange-900);
  --ids-smc-colors-warning-fixed-darker-50: var(--ids-base-color-orange-950);
  --ids-smc-colors-warning-fixed-default: var(--ids-base-color-orange-500);
  --ids-smc-colors-warning-fixed-lighter-10: var(--ids-base-color-orange-400);
  --ids-smc-colors-warning-fixed-lighter-20: var(--ids-base-color-orange-300);
  --ids-smc-colors-warning-fixed-lighter-30: var(--ids-base-color-orange-200);
  --ids-smc-colors-warning-fixed-lighter-40: var(--ids-base-color-orange-100);
  --ids-smc-colors-warning-fixed-lighter-50: var(--ids-base-color-orange-50);
  --ids-smc-colors-warning-lighter-10: var(--ids-base-color-orange-400);
  --ids-smc-colors-warning-lighter-20: var(--ids-base-color-orange-300);
  --ids-smc-colors-warning-lighter-30: var(--ids-base-color-orange-200);
  --ids-smc-colors-warning-lighter-40: var(--ids-base-color-orange-100);
  --ids-smc-colors-warning-lighter-50: var(--ids-base-color-orange-50);
}
