:root {
  --ids-smc-layout-typography-body-font-family-large: var(--ids-smc-reference-typography-font-family-default);
  --ids-smc-layout-typography-body-font-family-medium: var(--ids-smc-reference-typography-font-family-default);
  --ids-smc-layout-typography-body-font-family-small: var(--ids-smc-reference-typography-font-family-default);
  --ids-smc-layout-typography-body-font-family-xlarge: var(--ids-smc-reference-typography-font-family-default);
  --ids-smc-layout-typography-body-font-size-large: var(--ids-smc-reference-typography-font-size-16);
  --ids-smc-layout-typography-body-font-size-medium: var(--ids-smc-reference-typography-font-size-14);
  --ids-smc-layout-typography-body-font-size-small: var(--ids-smc-reference-typography-font-size-12);
  --ids-smc-layout-typography-body-font-size-xlarge: var(--ids-smc-reference-typography-font-size-20);
  --ids-smc-layout-typography-body-letter-spacing-large: var(--ids-smc-reference-typography-letter-spacing-default);
  --ids-smc-layout-typography-body-letter-spacing-medium: var(--ids-smc-reference-typography-letter-spacing-default);
  --ids-smc-layout-typography-body-letter-spacing-small: var(--ids-smc-reference-typography-letter-spacing-default);
  --ids-smc-layout-typography-body-letter-spacing-xlarge: var(--ids-smc-reference-typography-letter-spacing-default);
  --ids-smc-layout-typography-body-line-height-large: var(--ids-smc-reference-typography-line-height-24);
  --ids-smc-layout-typography-body-line-height-medium: var(--ids-smc-reference-typography-line-height-20);
  --ids-smc-layout-typography-body-line-height-small: var(--ids-smc-reference-typography-line-height-20);
  --ids-smc-layout-typography-body-line-height-xlarge: var(--ids-smc-reference-typography-line-height-28);
  --ids-smc-layout-typography-caption-font-family-large: var(--ids-smc-reference-typography-font-family-default);
  --ids-smc-layout-typography-caption-font-family-medium: var(--ids-smc-reference-typography-font-family-default);
  --ids-smc-layout-typography-caption-font-family-small: var(--ids-smc-reference-typography-font-family-default);
  --ids-smc-layout-typography-caption-font-family-xlarge: var(--ids-smc-reference-typography-font-family-default);
  --ids-smc-layout-typography-caption-font-size-large: var(--ids-smc-reference-typography-font-size-12);
  --ids-smc-layout-typography-caption-font-size-medium: var(--ids-smc-reference-typography-font-size-10);
  --ids-smc-layout-typography-caption-font-size-small: var(--ids-smc-reference-typography-font-size-8);
  --ids-smc-layout-typography-caption-font-size-xlarge: var(--ids-smc-reference-typography-font-size-14);
  --ids-smc-layout-typography-caption-letter-spacing-large: var(--ids-smc-reference-typography-letter-spacing-default);
  --ids-smc-layout-typography-caption-letter-spacing-medium: var(--ids-smc-reference-typography-letter-spacing-default);
  --ids-smc-layout-typography-caption-letter-spacing-small: var(--ids-smc-reference-typography-letter-spacing-default);
  --ids-smc-layout-typography-caption-letter-spacing-xlarge: var(--ids-smc-reference-typography-letter-spacing-default);
  --ids-smc-layout-typography-caption-line-height-large: var(--ids-smc-reference-typography-line-height-14);
  --ids-smc-layout-typography-caption-line-height-medium: var(--ids-smc-reference-typography-line-height-12);
  --ids-smc-layout-typography-caption-line-height-small: var(--ids-smc-reference-typography-line-height-10);
  --ids-smc-layout-typography-caption-line-height-xlarge: var(--ids-smc-reference-typography-line-height-16);
  --ids-smc-layout-typography-display-font-family-large: var(--ids-smc-reference-typography-font-family-default);
  --ids-smc-layout-typography-display-font-family-medium: var(--ids-smc-reference-typography-font-family-default);
  --ids-smc-layout-typography-display-font-family-small: var(--ids-smc-reference-typography-font-family-default);
  --ids-smc-layout-typography-display-font-family-xlarge: var(--ids-smc-reference-typography-font-family-default);
  --ids-smc-layout-typography-display-font-size-large: var(--ids-smc-reference-typography-font-size-48);
  --ids-smc-layout-typography-display-font-size-medium: var(--ids-smc-reference-typography-font-size-40);
  --ids-smc-layout-typography-display-font-size-small: var(--ids-smc-reference-typography-font-size-36);
  --ids-smc-layout-typography-display-font-size-xlarge: var(--ids-smc-reference-typography-font-size-72);
  --ids-smc-layout-typography-display-letter-spacing-large: var(--ids-smc-reference-typography-letter-spacing-default);
  --ids-smc-layout-typography-display-letter-spacing-medium: var(--ids-smc-reference-typography-letter-spacing-default);
  --ids-smc-layout-typography-display-letter-spacing-small: var(--ids-smc-reference-typography-letter-spacing-default);
  --ids-smc-layout-typography-display-letter-spacing-xlarge: var(--ids-smc-reference-typography-letter-spacing-default);
  --ids-smc-layout-typography-display-line-height-large: var(--ids-smc-reference-typography-line-height-48);
  --ids-smc-layout-typography-display-line-height-medium: var(--ids-smc-reference-typography-line-height-44);
  --ids-smc-layout-typography-display-line-height-small: var(--ids-smc-reference-typography-line-height-36);
  --ids-smc-layout-typography-display-line-height-xlarge: var(--ids-smc-reference-typography-line-height-72);
  --ids-smc-layout-typography-heading-font-family-large: var(--ids-smc-reference-typography-font-family-default);
  --ids-smc-layout-typography-heading-font-family-medium: var(--ids-smc-reference-typography-font-family-default);
  --ids-smc-layout-typography-heading-font-family-small: var(--ids-smc-reference-typography-font-family-default);
  --ids-smc-layout-typography-heading-font-family-xlarge: var(--ids-smc-reference-typography-font-family-default);
  --ids-smc-layout-typography-heading-font-size-large: var(--ids-smc-reference-typography-font-size-28);
  --ids-smc-layout-typography-heading-font-size-medium: var(--ids-smc-reference-typography-font-size-24);
  --ids-smc-layout-typography-heading-font-size-small: var(--ids-smc-reference-typography-font-size-20);
  --ids-smc-layout-typography-heading-font-size-xlarge: var(--ids-smc-reference-typography-font-size-32);
  --ids-smc-layout-typography-heading-letter-spacing-large: var(--ids-smc-reference-typography-letter-spacing-default);
  --ids-smc-layout-typography-heading-letter-spacing-medium: var(--ids-smc-reference-typography-letter-spacing-default);
  --ids-smc-layout-typography-heading-letter-spacing-small: var(--ids-smc-reference-typography-letter-spacing-default);
  --ids-smc-layout-typography-heading-letter-spacing-xlarge: var(--ids-smc-reference-typography-letter-spacing-default);
  --ids-smc-layout-typography-heading-line-height-large: var(--ids-smc-reference-typography-line-height-28);
  --ids-smc-layout-typography-heading-line-height-medium: var(--ids-smc-reference-typography-line-height-24);
  --ids-smc-layout-typography-heading-line-height-small: var(--ids-smc-reference-typography-line-height-20);
  --ids-smc-layout-typography-heading-line-height-xlarge: var(--ids-smc-reference-typography-line-height-32);
  --ids-smc-layout-typography-headline-font-family-large: var(--ids-smc-reference-typography-font-family-default);
  --ids-smc-layout-typography-headline-font-family-medium: var(--ids-smc-reference-typography-font-family-default);
  --ids-smc-layout-typography-headline-font-family-small: var(--ids-smc-reference-typography-font-family-default);
  --ids-smc-layout-typography-headline-font-family-xlarge: var(--ids-smc-reference-typography-font-family-default);
  --ids-smc-layout-typography-headline-font-size-large: var(--ids-smc-reference-typography-font-size-28);
  --ids-smc-layout-typography-headline-font-size-medium: var(--ids-smc-reference-typography-font-size-24);
  --ids-smc-layout-typography-headline-font-size-small: var(--ids-smc-reference-typography-font-size-20);
  --ids-smc-layout-typography-headline-font-size-xlarge: var(--ids-smc-reference-typography-font-size-32);
  --ids-smc-layout-typography-headline-letter-spacing-large: var(--ids-smc-reference-typography-letter-spacing-default);
  --ids-smc-layout-typography-headline-letter-spacing-medium: var(--ids-smc-reference-typography-letter-spacing-default);
  --ids-smc-layout-typography-headline-letter-spacing-small: var(--ids-smc-reference-typography-letter-spacing-default);
  --ids-smc-layout-typography-headline-letter-spacing-xlarge: var(--ids-smc-reference-typography-letter-spacing-default);
  --ids-smc-layout-typography-headline-line-height-large: var(--ids-smc-reference-typography-line-height-32);
  --ids-smc-layout-typography-headline-line-height-medium: var(--ids-smc-reference-typography-line-height-28);
  --ids-smc-layout-typography-headline-line-height-small: var(--ids-smc-reference-typography-line-height-24);
  --ids-smc-layout-typography-headline-line-height-xlarge: var(--ids-smc-reference-typography-line-height-40);
  --ids-smc-layout-typography-title-font-family-large: var(--ids-smc-reference-typography-font-family-default);
  --ids-smc-layout-typography-title-font-family-medium: var(--ids-smc-reference-typography-font-family-default);
  --ids-smc-layout-typography-title-font-family-small: var(--ids-smc-reference-typography-font-family-default);
  --ids-smc-layout-typography-title-font-family-xlarge: var(--ids-smc-reference-typography-font-family-default);
  --ids-smc-layout-typography-title-font-size-large: var(--ids-smc-reference-typography-font-size-18);
  --ids-smc-layout-typography-title-font-size-medium: var(--ids-smc-reference-typography-font-size-16);
  --ids-smc-layout-typography-title-font-size-small: var(--ids-smc-reference-typography-font-size-14);
  --ids-smc-layout-typography-title-font-size-xlarge: var(--ids-smc-reference-typography-font-size-20);
  --ids-smc-layout-typography-title-letter-spacing-large: var(--ids-smc-reference-typography-letter-spacing-default);
  --ids-smc-layout-typography-title-letter-spacing-medium: var(--ids-smc-reference-typography-letter-spacing-default);
  --ids-smc-layout-typography-title-letter-spacing-small: var(--ids-smc-reference-typography-letter-spacing-default);
  --ids-smc-layout-typography-title-letter-spacing-xlarge: var(--ids-smc-reference-typography-letter-spacing-default);
  --ids-smc-layout-typography-title-line-height-large: var(--ids-smc-reference-typography-line-height-24);
  --ids-smc-layout-typography-title-line-height-medium: var(--ids-smc-reference-typography-line-height-20);
  --ids-smc-layout-typography-title-line-height-small: var(--ids-smc-reference-typography-line-height-16);
  --ids-smc-layout-typography-title-line-height-xlarge: var(--ids-smc-reference-typography-line-height-24);
}
